<div class="hr_10"></div>
<div class="cinepaystep wrapper">
    <div class="tab_card" style="display:block;">
        <label class="recharge_label"><input type="radio" name="rechar_bank" value="3002"><img src="http://www.caimiao.com/dyweb/dythemes/diyou/images/bank/ICBC.jpg"></label>
        <label class="recharge_label"><input type="radio" name="rechar_bank" value="3005"><img src="http://www.caimiao.com/dyweb/dythemes/diyou/images/bank/ABC.jpg"></label>
        <label class="recharge_label"><input type="radio" name="rechar_bank" value="3026"><img src="http://www.caimiao.com/dyweb/dythemes/diyou/images/bank/BOC.jpg"></label>

        <label class="recharge_label"><input type="radio" name="rechar_bank" value="3003"><img src="http://www.caimiao.com/dyweb/dythemes/diyou/images/bank/CCB.jpg"></label>
        <label class="recharge_label"><input type="radio" name="rechar_bank" value="3001"><img src="http://www.caimiao.com/dyweb/dythemes/diyou/images/bank/CMB.jpg"></label>
        <label class="recharge_label"><input type="radio" name="rechar_bank" value="3020"><img src="http://www.caimiao.com/dyweb/dythemes/diyou/images/bank/COMM.jpg"></label>

        <label class="recharge_label"><input type="radio" name="rechar_bank" value="3036"><img src="http://www.caimiao.com/dyweb/dythemes/diyou/images/bank/CGB.jpg"></label>
        <label class="recharge_label"><input type="radio" name="rechar_bank" value="3006"><img src="http://www.caimiao.com/dyweb/dythemes/diyou/images/bank/CMBC.jpg"></label>
        <label class="recharge_label"><input type="radio" name="rechar_bank" value="3050"><img src="http://www.caimiao.com/dyweb/dythemes/diyou/images/bank/HXB.jpg"></label>

        <label class="recharge_label"><input type="radio" name="rechar_bank" value="3009"><img src="http://www.caimiao.com/dyweb/dythemes/diyou/images/bank/CIB.jpg"></label>
        <label class="recharge_label"><input type="radio" name="rechar_bank" value="3004"><img src="http://www.caimiao.com/dyweb/dythemes/diyou/images/bank/SPDB.jpg"></label>
        <label class="recharge_label"><input type="radio" name="rechar_bank" value="3039"><img src="http://www.caimiao.com/dyweb/dythemes/diyou/images/bank/ECITIC.jpg"></label>

        <label class="recharge_label"><input type="radio" name="rechar_bank" value="3038"><img src="http://www.caimiao.com/dyweb/dythemes/diyou/images/bank/PSBC.jpg"></label>
        <label class="recharge_label"><input type="radio" name="rechar_bank" value="3022"><img src="http://www.caimiao.com/dyweb/dythemes/diyou/images/bank/CEB.jpg"></label>
        <label class="recharge_label"><input type="radio" name="rechar_bank" value="3032"><img src="http://www.caimiao.com/dyweb/dythemes/diyou/images/bank/BEIJING.jpg"></label>

        <label class="recharge_label"><input type="radio" name="rechar_bank" value="3034"><img src="http://www.caimiao.com/dyweb/dythemes/diyou/images/bank/CBHB.jpg"></label>
        <label class="recharge_label"><input type="radio" name="rechar_bank" value="3033"><img src="http://www.caimiao.com/dyweb/dythemes/diyou/images/bank/HKBEA.jpg"></label>
        <label class="recharge_label"><input type="radio" name="rechar_bank" value="3046"><img src="http://www.caimiao.com/dyweb/dythemes/diyou/images/bank/NB.jpg" width="125px" height="32px"></label>

        <label class="recharge_label"><input type="radio" name="rechar_bank" value="3059"><img src="http://www.caimiao.com/dyweb/dythemes/diyou/images/bank/SHANGHAI.jpg"></label>
        <label class="recharge_label"><input type="radio" name="rechar_bank" value="3035"><img src="http://www.caimiao.com/dyweb/dythemes/diyou/images/bank/PINGAN.jpg"></label>
    </div>

</div>