		<?php   $films = BFilmTop::weekHot10();  ?>
		<div class="film_title"><h2>本周排行</h2></div>
			<ul id="chart1">
				<?php foreach($films as $key => $film) { ?>
				<li>
					<div class="fig_tt"><i class="bg1"><?php echo $key + 1; ?></i><a href="javascript:void(0);" target="_blank"><?php echo $film['name']; ?></a><em class="col mg"><?php echo $film['score']; ?>分</em></div>
					<div class="fig_wd clearfix"><img src="<?php echo TUrl::instance()->imageUp($film['image']); ?>" /><h4 class="col"><?php echo $film['score']; ?><b class="fot">分</b></h4><p><b><?php echo $film['attention']; ?></b>人关注</p></div>
				</li>
				<?php } ?>
			</ul>
