<link href="<?php echo TUrl::instance()->css('jquery.mCustomScrollbar.css'); ?>" rel="stylesheet" type="text/css" />
<link href="<?php echo TUrl::instance()->css('index.css'); ?>" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<?php echo TUrl::instance()->js('jquery.mCustomScrollbar.js'); ?>"></script>
<script type="text/javascript" src="<?php echo TUrl::instance()->js('index.js',1); ?>"></script>
<script type="text/javascript" src="<?php echo TUrl::instance()->js('jquery.modal.min.js'); ?>"></script>

<script type="text/javascript">
    $(function() {

        $("#_top_move_indst").lunbo({
            begin : 1,
            speed : 5000,
            pics : "#_top_move_indst .pic li",
            lbtn : "#_tp_movies_l_btn",
            rbtn : "#_tp_movies_r_btn"
        });
        $("#choosecenimathis").mCustomScrollbar({
            setHeight : 430,
            theme : "dark",
            scrollbarPosition : "inside",
            scrollInertia : 500
        });

        $("#movie_inst_1 ul").longlunbo({
            box : "#movie_inst_1 .cinam_cl",
            tagName : '#movie_inst_1 ul li',
            auto : false,
            direction : 'left',
            visual : 4,
            prev : '#movie_inst_1 .l_btn',
            next : '#movie_inst_1 .r_btn',
            alwaysShowButton : true,
            amount : 1,
            loop : true
        });
        $("#cinchoicethis_1 ul").longlunbo({
            box : "#cinchoicethis_1 .cinchoice",
            tagName : '#cinchoicethis_1 ul li',
            auto : false,
            direction : 'left',
            visual : 5,
            prev : '#cinchoicethis_1 .l_btn',
            next : '#cinchoicethis_1 .r_btn',
            alwaysShowButton : true,
            amount : 1,
            loop : true,
            onItemsClicked : function() {
                $(this).siblings().find('a').removeClass('active');
                $(this).find('a').addClass('active');
                CINEMA.createFilmHtml($(this).attr('film_id'));
            }

        });

        $('a[href="#ex7"]').click(function(event) {
            event.preventDefault();
            $(this).modal({
                fadeDuration: 250
            });
        });
        $("#showboxright_div1 ul").longlunbo({
            box : "#showboxright_div1 .showclum",
            tagName : '#showboxright_div1 ul li img',
            auto : false,
            direction : 'top',
            visual : 3,
            prev : '#showboxright_div1 .l_btn',
            next : '#showboxright_div1 .r_btn',
            alwaysShowButton : true,
            amount : 1,
            loop : true

        });
        var moveImgBox=$("#_top_move_indst ul");
        var _wWidth=moveImgBox.width();//1900
        var _screenW=window.screen.width;//1920
        moveImgBox.css({position:"relative"});
        $(window).on("resize",function(){
            var _docW=$(document).width();//dom的宽度,document.body.scrollWidth，非body和当前可视window;
            var _bwidth=$("body").width();//document.body.clientWidth;一直变
//            console.debug("_wWidth:"+_wWidth+";_screenW"+_screenW+";_docW"+_docW+";_bwidth"+_bwidth);
            if(_bwidth>=1200){
                var toleft=_wWidth-_bwidth;
                // console.debug('ul向左移动'+toleft);
                moveImgBox.css({left:-toleft});
            }

        });

    });
</script>
<div class="cinemabody">
<div class="banner cinebanner" id="_top_move_indst">
    <ul class="pic">
        <?php foreach($cinema_info['banner'] as $item) { ?>
        <li>
            <a href="<?php echo $item['url']; ?>"><img src="<?php echo TUrl::instance()->imageUp($item['img']); ?>"/></a>
        </li>
        <?php } ?>
    </ul>
    <div class="cinebut">
        <a class="l_btn" href="javascript:;" id="_tp_movies_l_btn"></a>
        <a class="r_btn" href="javascript:;" id="_tp_movies_r_btn"></a>
    </div>

</div>
<!-- banner -->
<!-- 中间板块开始 -->
<div class="cinemamain wrapper">
<div class="cineclum1">
    <div class="cinleft left" id="movie_cineclum1">
        <div class="bigpic"><img src="<?php echo TUrl::instance()->imageUp($cinema_info['img'][0]); ?>" />
        </div>
        <div class="cinmaill" id="movie_inst_1">
            <div class="cinam_cl" >
                <ul class="clearfix">
                    <?php foreach($cinema_info['img'] as $item) { ?>
                    <li>
                        <a href="javascript:void(0);"><img src="<?php echo TUrl::instance()->imageUp($item); ?>"/></a>
                    </li>
                    <?php } ?>
                </ul>

            </div>
            <a class="l_btn" href="javascript:;"></a>
            <a class="r_btn" href="javascript:;"></a>
        </div>
    </div>
    <div class="cincenter left">
        <h2><a href="javascript:void(0);"><?php echo $cinema_info['name']; ?></a></h2>
        <div class="cinstar">
            <ul>
                <?php if($cinema_info['heat']['score']<2) { ?>
                <li class="on" ></li><li class="on" ></li><li class="on" ></li><li class="on" ></li><li class="on" ></li>
                <?php } elseif($cinema_info['heat']['score']<4) { ?>
                <li></li><li class="on" ></li><li class="on" ></li><li class="on" ></li><li class="on" ></li>
                <?php } elseif($cinema_info['heat']['score']<6) { ?>
                <li></li><li></li><li class="on" ></li><li class="on" ></li><li class="on" ></li>
                <?php } elseif($cinema_info['heat']['score']<8) { ?>
                <li></li><li></li><li></li><li class="on" ></li><li class="on" ></li>
                <?php } elseif($cinema_info['heat']['score']<10) { ?>
                <li></li><li></li><li></li><li></li><li class="on" ></li>
                <?php } else { ?>
                <li></li><li></li><li></li><li></li><li></li>
                <?php } ?>
            </ul>
            <b><i><?php echo $cinema_info['heat']['score']; ?></i>分</b>
        </div>
        <p>
            <span class="col">地址：</span><?php echo $cinema_info['address']; ?>
        </p>
        <p class="col">
            电话：<b><?php echo $cinema_info['telephone']; ?></b>
        </p>
        <p>
            <span class="col">特色：</span><?php echo $cinema_info['heat']['description']; ?>
        </p>
    </div>
    <div class="cinright right"><img src="/images/film_24.jpg" />
    </div>
    <div class="clear"></div>
</div>

<div class="cineclum2">
<div class="cin2left left">
    <div class="movietab"><a class="hov" href="javascript:void(0);" onclick="CINEMA.tab(1);">排片购票</a><a href="javascript:void(0);" onclick="CINEMA.tab(2);">电影院介绍</a></div>
    <div class="cine_mode" id="cinema_info_1">
        <h3><?php echo $date_arr[0]['show']; ?>上映<?php echo $cinema_info['count_film']; ?>部 - 共<span class="col"><?php echo $cinema_info['count_schedule']; ?></span>场</h3>
        <div class="timeOutside">
            <?php foreach($date_arr as $item) { ?>
            <a href="javascript:void(0);" date="<?php echo $item['date']; ?>">
                <span><?php echo $item['tit']; ?></span><em><?php echo $item['show']; ?></em>
            </a>
            <?php } ?>
        </div>
        <div class="cie2" id="cinchoicethis_1">
            <div class="cinchoice" >
                <ul class="clearfix">
                    <li>
                        <a href="javascript:void(0);"><img src="http://local.yingshi.com/images/film_03.jpg"></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="http://local.yingshi.com/images/film_03.jpg"></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="http://local.yingshi.com/images/film_03.jpg"></a>
                    </li>
                    <li>
                        <a target="_blank" href="javascript:void(0);" class="active"><img src="http://local.yingshi.com/images/film_03.jpg"></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="http://local.yingshi.com/images/film_03.jpg"></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="http://local.yingshi.com/images/film_03.jpg"></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="http://local.yingshi.com/images/film_03.jpg"></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="http://local.yingshi.com/images/film_03.jpg"></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="http://local.yingshi.com/images/film_03.jpg"></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="http://local.yingshi.com/images/film_03.jpg"></a>
                    </li>
                </ul>
            </div>
            <a href="javascript:;" class="l_btn"></a>
            <a href="javascript:;" class="r_btn"></a>
        </div>

        <div class="cinchoice_detel">
            <div class="cho_det_lt left">
                <a href="#ex7" class="shipin">
                    <img src="http://local.yingshi.com/images/film_03.jpg" alt="">预告<span class="col">（2）</span><i></i>
                </a>
                <a href="javascript:void(0);" class="juzhao">
                    <img src="http://local.yingshi.com/images/film_03.jpg" alt="">剧照<span class="col">（10）</span>
                </a>
            </div>
            <div class="cho_det_rt right"><h3>速度与激情78.4</h3>
                <p>导演：温子仁       主演： 龙达·鲁西 / 埃尔莎·帕塔奇 / 卢卡斯·布莱克 / 米歇尔·罗德里格兹
                    时长：137 分钟类型：动作/犯罪/惊悚
                </p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="cinemaCollection">
            <div class="chooseOpi_head">
                <span class="opitime"><em>放映时间</em></span>
                <span class="opiEdition"><em>语言版本</em></span>
                <span class="opiRoom"><em>放映厅</em></span>
                <span class="opiPrice">&nbsp;&nbsp;&nbsp;&nbsp;现价(元)</span>
                <span class="opiurl">选座购票</span>
            </div>
            <div class="chooseOpi_body" id="choosecenimathis">
                <ul>

                </ul>
            </div>
        </div>
    </div>
    <div class="cine_mode" id="cinema_info_2" style="display: none;">
        <div class="cie" id="cinchoicethis_2" style="display: none;">
            <div class="cineintrod">
                <ul class="clearfix">
                    <li>
                        <a target="_blank" href="javascript:void(0);"><img src="images/film_08.jpg"></a>
                    </li>
                    <li>
                        <a target="_blank" href="javascript:void(0);"><img src="images/film_08.jpg"></a>
                    </li>
                    <li>
                        <a target="_blank" href="javascript:void(0);"><img src="images/film_08.jpg"></a>
                    </li>
                    <li>
                        <a target="_blank" href="javascript:void(0);"><img src="images/film_08.jpg"></a>
                    </li>
                    <li>
                        <a target="_blank" href="javascript:void(0);"><img src="images/film_08.jpg"></a>
                    </li>
                    <li>
                        <a target="_blank" href="javascript:void(0);"><img src="images/film_08.jpg"></a>
                    </li>
                    <li>
                        <a target="_blank" href="javascript:void(0);"><img src="images/film_08.jpg"></a>
                    </li>
                    <li>
                        <a target="_blank" href="javascript:void(0);"><img src="images/film_08.jpg"></a>
                    </li>
                    <li>
                        <a target="_blank" href="javascript:void(0);"><img src="images/film_08.jpg"></a>
                    </li>
                    <li>
                        <a target="_blank" href="javascript:void(0);"><img src="images/film_08.jpg"></a>
                    </li>
                </ul>

            </div>
            <a href="javascript:;" class="l_btn"></a>
            <a href="javascript:;" class="r_btn"></a>
        </div>
        <div class="cinetrod_word">
            <h4>影院介绍</h4>
            <p><?php echo $cinema_info['content']; ?></p>
            <h5>优惠政策</h5>
            <p>
                办理会员卡可享最高购票优惠5折；
                <br />
                周四会员特价日一般影片25~40元，4D影片60元；
                <br />
                半价时段：每天12点前以及22点后所有电影场次半价优惠；
                <br />
                周二所有电影全天半价！
            </p>
        </div>
    </div>
</div>


<!--弹窗-->
<div id="1ex7" class="modal">
    <div class="showboxmode">
        <div class="showboxleft left"><video id="media" src="test.mp4" controls width="830" heigt="560"></video></div>
        <div class="showboxright right" id="showboxright_div1">
            <a class="l_btn" href="javascript:;"></a>
            <div class="showclum">
                <ul>
                    <li><a href="javascript:void(0);" target="_blank"><img src="http://local.yingshi.com/images/film_07.jpg" /><p><b>速度与激情</b><b>23334人已关注</b></p></a></li>
                    <li><a href="javascript:void(0);" target="_blank"><img src="http://local.yingshi.com/images/film_07.jpg" /><p><b>速度与激情</b><b>23334人已关注</b></p></a></li>
                    <li><a href="javascript:void(0);" target="_blank"><img src="http://local.yingshi.com/images/film_07.jpg" /><p><b>速度与激情</b><b>23334人已关注</b></p></a></li>
                    <li><a href="javascript:void(0);" target="_blank"><img src="http://local.yingshi.com/images/film_07.jpg" /><p><b>速度与激情</b><b>23334人已关注</b></p></a></li>
                    <li><a href="javascript:void(0);" target="_blank"><img src="http://local.yingshi.com/images/film_07.jpg" /><p><b>速度与激情</b><b>23334人已关注</b></p></a></li>
                </ul>
            </div>
            <a class="r_btn" href="javascript:;"></a>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--弹窗 end-->

<div class="film_right right">
    <?php $this->partial('block/heatPlaying'); ?>
</div>
<div class="clear"></div>
</div>
</div>
</div>
<script type="text/javascript">
    $(function() {
        $('.hr_10').remove();
        //选择影院展示图
        $('.cinam_cl ul li a img').click(function(){
            $('.cinam_cl ul li a').removeClass('active');
            $(this).parent().addClass('active');
            $('.bigpic img').attr('src',$(this).attr('src'));
        });
        //时间点击效果
        $('.timeOutside a').click(function(){
            $(this).siblings().removeClass('act').end().addClass('act');
            CINEMA.getFilms($(this).attr('date'));
        });

        $('.cinam_cl ul li a img').first().click();
        $('.timeOutside a').first().click();

    });
    var CINEMA = {
        cinema_id : "<?php echo $cinema_id ?>",
        film_id : "",       //只是索引不是ID
        film_arr : "",
        date : "",
        img_upload:"<?php echo TUrl::instance()->imageUp(''); ?>",
        //查询某天的影片信息
        getFilms:function(date){
            CINEMA.date = date;
            $('#cinchoicethis_1 ul.clearfix').html('查询中，请稍候……');
            $.ajax({
                type: "POST",
                url: "/film/getDateFilmAjax",
                data: {date:date, cinema_id:CINEMA.cinema_id},
                dataType: "json",
                success: function(result){

                    var html = '';
                    if(result != null){
                        CINEMA.film_arr = result;
                        for(var i=0;i<result.length;i++){
                            html += '<li film_id = "'+i+'">';
                            html += '<a href="javascript:void(0);"';
                            if(i == 0){
                                CINEMA.film_id = i;
                                html += ' class="active"';
                            }
                            html += '><img src="'+CINEMA.img_upload+result[i]['image']+'"></a>';
                            html += '</li>';
                        }
                        CINEMA.createFilmHtml(CINEMA.film_id);
                    }else{
                        html += '<p style="color: red;">没有查询到您要的信息</p>';
                        $('.cinchoice_detel').hide();
                        //清空排期  隐藏左右箭头
                        $('#choosecenimathis ul').html('');
                        $('#cinchoicethis_1 a.l_btn').hide();
                        $('#cinchoicethis_1 a.r_btn').hide();
                    }
                    $('#cinchoicethis_1 ul.clearfix').html(html);
                },
                error: function (msg) {
                    alert('系统出错，请联系客服');
                }
            });
        },

        //生成电影的基本信息
        createFilmHtml:function(id){
            var html = '';
            var film_info = CINEMA.film_arr[id];
            if(film_info){
                $('.cinchoice_detel .shipin').html('<img src="'+CINEMA.img_upload+film_info.foreshow+'" alt="预告">预告<span class="col" style="display: none;">（2）</span><i></i>');
                $('.cinchoice_detel .juzhao').html('<img src="'+CINEMA.img_upload+film_info.stills+'" alt="剧照">剧照<span class="col" style="display: none;">（10）</span>');
                $('.cho_det_rt').html('<h3>'+film_info.name+'  '+film_info.score+'</h3><p>导演：'
                        +film_info.director+'主演：'+film_info.actors+'时长：'+film_info.duration+'分钟 类型：'+film_info.types+'</p>');
            CINEMA.createListHtml(film_info.id);
            }else{
                alert('查询影片信息出错，请联系客服');
            }
        },

        //生成电影排片的列表信息
        createListHtml:function(film_id){
            $.ajax({
                type: "POST",
                url: "/film/getFilmListAjax",
                data: {date:CINEMA.date,film_id:film_id, cinema_id:CINEMA.cinema_id},
                dataType: "json",
                success: function(result){
                    var html = '';
                    if(result != null){
                        for(var i=0;i<result.length;i++){
                            html += '<li class="clearfix">';
                            html += '<span class="opitime"><em>'+result[i]['starttime'].substr(11,5)+'</em>预计16:47散场</span>';
                            if(result[i]['cinemaScreen']['type'].indexOf("IMAX") > 0){
                                html += '<span class="opiEdition"><em class="typemax3d">'+result[i]['cinemaScreen']['type']+'</em>'+result[i]['language']+'</span>';
                            }else if(result[i]['cinemaScreen']['type'].indexOf("2D") > 0){
                                html += '<span class="opiEdition"><em class="typemax2d">'+result[i]['cinemaScreen']['type']+'</em>'+result[i]['language']+'</span>';
                            }else{
                                html += '<span class="opiEdition"><em>'+result[i]['cinemaScreen']['type']+'</em>'+result[i]['language']+'</span>';
                            }
                            html += '<span class="opiRoom"><em>'+result[i]['cinemaScreen']['screen_name']+'</em>'+result[i]['cinemaScreen']['seat_count']+'座</span>';
                            html += '<span class="opiPrice"><b class="col">'+result[i]['price_real']/100+'元</b></span>';
                            html += '<span class="opiurl"><a target="_blank" href="/order/buy?id='+result[i]['id']+'">马上购票</a></span></li>';
                        }
                        $('#cinchoicethis_1 a.l_btn').show();
                        $('#cinchoicethis_1 a.r_btn').show();
                    }else{
                        html += '<p style="color: red;">没有查询到您要的信息</p>';
                    }
                    $('#choosecenimathis ul').html(html);
                },
                error: function (msg) {
                    alert('系统出错，请联系客服');
                }
            });
        },

        //tab切换
        tab:function(flg){
            $('.movietab a').removeClass('hov');
            switch(flg){
                case 1:
                    $('.movietab a').first().addClass('hov');
                    $('#cinema_info_2').hide();
                    $('#cinema_info_1').show();
                    break;
                case 2:
                    $('.movietab a').last().addClass('hov');
                    $('#cinema_info_1').hide();
                    $('#cinema_info_2').show();
                    break;
            }
        }
    };
</script>