<link href="<?php echo TUrl::instance()->css('index.css'); ?>" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<?php echo TUrl::instance()->js('index.js'); ?>"></script>
<div class="wrapper">
<!--中间部分-->
<div class="file_mode">
<div class="film_left left">
	<div class="moviecount">
		<div class="movietab cinematab"><a href="javascript:void(0);" class="hov">行政区</a></div>
		<div class="movie_mode">
			<div class="mv_clum1">
				<h2>当前<?php echo $city->display_name; ?><span class="col"><?php echo $total; ?></span>家影院选座购票</h2>
				<ul>
					<li>
						<dl class="dlTy dlNp">
							<dd>
								<a class="typeHove" href="/cinema/index" county_code="all">全部</a>
							<?php
								foreach($regionList as $item) {
									$class = '';
									if(isset($params['county_code']) && $item->code == $params['county_code']) {
										$class = 'class="typeHove"';
									}
							?>
							<a href="javascript:void(0);" <?php echo $class; ?> county_code="<?php echo $item->code; ?>"><?php echo $item->name; ?></a>
							<?php } ?>
							</dd>
						</dl>
					</li>
					<li>
						<dl class="dlTy chara" style="display: none;">
							<dt><span class="typeTitle ocol">特&nbsp&nbsp色:</span></dt>
							<dd>
								<a class="cha1 typeHove" href="javascript:void(0);" parking="1">免费停车</a>
								<a class="cha2 typeHove" href="javascript:void(0);" refund="1">可退票</a>
								<a class="cha3 typeHove" href="javascript:void(0);" have_activity="1">有活动</a>
							</dd>
						</dl>
					</li>
					<li>
						<dl class="dlTy yt">
							<dt><span class="typeTitle">影院特效厅：</span></dt>
							<dd>
						<?php
						foreach($format as $item) {
							$class = '';
							if(isset($params['screen_effect']) && $params['screen_effect'] == $item) {
								$class = 'class="typeHove"';
							}
						?>
							<a href="javascript:void(0);" <?php echo $class; ?>><?php echo $item; ?></a>
						<?php 
							}
						?>
							</dd>
						</dl>
					</li>
					<!--
					<li>
						<dl class="dlTy">
							<dt><span class="typeTitle">影片搜索</span></dt>
							<dd>
								<input name="word" type="text" value="" placeholder="请输入关键字">
								<input class="film_btn" type="button" value="搜索" onclick="reloadPage();"/>
							</dd>
						</dl>
					</li>
					 -->
                </ul>
            </div>
            <div class="selectedMenus address_pr">
                <div class="address_c">
                    <p><?php echo $city->display_name; ?><span>(<?php echo $total; ?>)</span></p>
				</div>
                <a class="down_org" href="javascript:void(0);" order="score">评分</a>
                <a class="down_gry" href="javascript:void(0);" order="attention">关注</a>
            </div>
            <div class="cine_clum">
                <ul id="cinema_list">
                    <?php
					foreach($cinemas as $sequence => $cinema) {
						if($sequence % 2 == 0) {
							echo '<li>';
							$class = "con_media left";
						} else {
							$class = "con_media right";
						}
                    ?>
					<div class="<?php echo $class; ?>">
						<div class="busines_cover">
							<a href="<?php echo TUrl::instance()->get('/cinema/cinemaInfo/id/'.$cinema['cinema_id']); ?>"><img src="<?php echo TUrl::instance()->imageUp($cinema['image']); ?>" alt="<?php echo $cinema['name']; ?>"/></a>
							<h3 class="busines_title">
								<a href="<?php echo TUrl::instance()->get('/cinema/cinemaInfo/id/'.$cinema['cinema_id']); ?>"><?php echo $cinema['name']; ?></a>
								<div class="list_scor" style="display: block;">
									<em class="mg"><b><?php echo $cinema['score']; ?></b>分</em>
								</div>
							</h3>
						</div>
						<div class="movie_text">
							<p><?php echo $cinema['address']; ?><a class="map" href="javascript:void(0);">[地图]</a></p>
							<p>路线:<?php echo $cinema['traffic']; ?></p>
							<h5 style="display: block;">正在上映：<span><?php echo count($cinema['playingFilms']); ?>部影片热映中</span></h5>
							<p class="film" style="display: block;">
								<?php
								$list = array();
								foreach($cinema['playingFilms'] as $film) {
									$list[] = '<a href="'.TUrl::instance()->get('/film/detail', array('id' => $film['film_id'])).'>'.$film['film_name'].'</a>';
								}
								echo implode(" / ", $list);
								?>
							</p>

							<div class="ticket">
								<a class="ticket_btn" href="<?php echo TUrl::instance()->get('/cinema/cinemaInfo/id/'.$cinema['cinema_id']); ?>">选座购票</a>
								<a class="collect" style="display: block;" href="javascript:void(0);">收藏</a>
							</div>
						</div>
					</div>
				<?php
						echo $sequence%2 == 1 ? '</li>' : '';
					}
				?>
                </ul>
            </div>
        </div>
    </div>
    <!-- 分页开始 -->
	<?php echo $page->getHtml(); ?>
    <!-- 分页结束 -->
</div>
    <div class="film_right right">
        <?php $this->partial('block/heatPlaying'); ?>
	</div>
<div class="clear"></div>
</div>

</div>
<script>

var searchData = {};
searchData.order = 'score desc';

function reloadPage() {
	var code = $('.dlNp dd a.typeHove').attr('county_code');
//	var parking = $('.cha1 a.typeHove').attr('parking');
//	var refund = $('.cha2 a.typeHove').attr('refund');
//	var haveActivity = $('.cha3 a.typeHove').attr('have_activity');
	var effect = $('.yt dd a.typeHove').text();
	//var keyword = $('input[name=word]').attr('value');
	var orderScore = $('.down_org').attr('order');
	var orderAttention = $('.down_gry').attr('order');
	var url = "/cinema/index/countyCode/" + code;
	if(effect != '') {
		url = url + '/effect/' + effect;
	}
/*
	if(keyword != '') {
		url = url + '/keyword/' + encodeURIComponent(keyword);
	}
*/
	url = url + '/order/' + encodeURIComponent(searchData.order);
	location.href = url;
}

$(window).ready(function() {
	$('dd a').click(function() {
		$(this).siblings().removeClass('typeHove').end().addClass('typeHove');
		reloadPage();
	});
	$(".selectedMenus a").on("click", function() {
		if($(this).hasClass('down_org')) {
			$(this).siblings("a").attr('class','down_gry').end().attr('class','up_org');
			searchData.order = $(this).attr('order')+' ASC';
		}else{
			$(this).siblings("a").attr('class','down_gry').end().attr('class','down_org');
			searchData.order = $(this).attr('order')+' DESC'; 
		}
		reloadPage();
	});
});
</script>
