<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<link href="<?php echo TUrl::instance()->css('common.css'); ?>" rel="stylesheet" type="text/css" />
	<link href="<?php echo TUrl::instance()->css('index.css'); ?>?v=1.1" rel="stylesheet" type="text/css" />
	<link href="<?php echo TUrl::instance()->css('jquery.mCustomScrollbar.css'); ?>" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="<?php echo TUrl::instance()->jsCommon('jquery-1.11.1.min.js'); ?>"></script>
	<script type="text/javascript" src="<?php echo TUrl::instance()->js('jq.cm.utils.js'); ?>"></script>
	<script type="text/javascript" src="<?php echo TUrl::instance()->js('common.js'); ?>"></script>
	<script type="text/javascript" src="<?php echo TUrl::instance()->js('jquery.modal.min.js'); ?>"></script>
	<script type="text/javascript" src="<?php echo TUrl::instance()->js('jquery.mCustomScrollbar.js'); ?>"></script>
	<script type="text/javascript" src="<?php echo TUrl::instance()->js('index.js'); ?>"></script>

	<script type="text/javascript" charset="utf-8">

	$(function() {
		$('a[href="#ex7"]').click(function(event) {
			event.preventDefault();
			$(this).modal({
				fadeDuration: 250
			});
		});
		$("#showboxright_div1 ul").longlunbo({
			box : "#showboxright_div1 .showclum",
			tagName : '#showboxright_div1 ul li img',
			auto : false,
			direction : 'top',
			visual : 3,
			prev : '#showboxright_div1 .l_btn',
			next : '#showboxright_div1 .r_btn',
			alwaysShowButton : true,
			amount : 1,
			loop : true
		});
	});
	$(function(){
		//快速购票的选择行政区和影院
        $("#chooseAreaAndCinema").cmtabPanel({
            initShow : 1,
            tabSelectedClass : "active",
            contentSelectedClass : "",
            tabs : "#chooseAreaAndCinema .tab>a",
            contents : "#chooseAreaAndCinema .tab_con"

        });
           $(".find_box ul>li ").on("click.main", function() {
            var t = $(this).position().top;
            $(this).find("input:nth-child(1)").prop("readOnly", true);
            $(this).find(".appoint_area").animate({
                top : -1
            }).stop(true, true).show();
        });
        $(".find_box ul>li ").find('.appoint_area').find("h5").on("click", function(e) {
            e.preventDefault();

            //TODO H5单击之后的操作
        });
        $(".find_box ul>li ").on("mouseleave.main", function() {

            $(this).find('.appoint_area').hide();
        });


        $('.sel_time').bind('click',function(){

        	$('#v_date').val($(this).attr('s'));
        	$('.v_date').html($(this).attr('s'));
			$('#v_date_hide').val($(this).attr('v'));
			getfilm();


        })

        $('.sl_region').bind('click',function(){
          $('.tab').find('a').eq(1).addClass('active');
          $('.tab').find('a').eq(0).removeClass('active');
  			var regcode=$(this).attr('code');

            $('.s_regtion').html($(this).html());
  			$.ajax({'url':'index/getcinema','type':'post',data:{'code':regcode},dataType:'html',success:function(data){
			$('.cinemalist').html(data);
			$('.admin_con').hide();
			$('.movie_con').show();
  			}})

        })


$('.buy_btn').click(function(){
	if($('#v_film_hide').val()==''){
		alert('请选择影片');
		return;
	}

	if($('#v_date_hide').val()==''){
		alert('请选择日期');
		return;
	}

	if($("#v_cinema_hide").val()==''){
		alert('请选择影院');
		return;
	}
		 window.open('film/detail/id/'+$('#v_film_hide').val()+'/date/'+$('#v_date_hide').val()+'/cid/'+$("#v_cinema_hide").val());

	})

	});

	 function select_cinema(code){

	 		$('#v_cinema_hide').val(code);
	 		$('.s_cinema_name').val($('.c_'+code).html());
   	 	    $('.s_cinema').html($('.c_'+code).html());

   	 		getfilm();

	        }

	 function select_film(code){

	 		$('#v_film_hide').val(code);
	 		$('.s_film_name').val($('.c_'+code).html());
	 	    $('.s_film').html($('.c_'+code).html());

	 		getfilm();

	        }




	function getfilm(){
		var code=$('#v_cinema_hide').val();
		var date=$('#v_date_hide').val();
		if(code==''||date==''){ return ;}

		$.ajax({'url':'index/getfilm','type':'post',data:{'code':code,'date':date},dataType:'html',
	   		success:function(data){

				$('.film_list').html(data);
	  		}
	   		})

	}





</script>
</head>

<body>
<?php $this->partial('index/header'); ?>

<?php echo $this->getContent(); ?>

<?php $this->partial('index/footer'); ?>
</body>
</html>
