			<?php $films = BFilmBlock::upcomming(1,10); ?>

			<div class="left_clum4 clearfix">
				<div class="film_title">
					<h2>新片预告／电影资讯</h2>
					<!-- <a target="_blank" href="#" class="more">更多></a> -->
				</div>
				<div class="clum4_lf left">
					<ul>
						<?php foreach($films as $film) { ?>
                                                <li><a href="<?php echo TUrl::instance()->get('/film/detail/id/'.$film['film_id']); ?>" target="_blank"><img style="width:200px; height:120px;" src="<?php echo TUrl::instance()->imageUp($film['image']); ?>" /></a>
							<p>
								<a href="#" target="_blank"><?php echo $film['name']; ?></a><span>上映时间：<?php echo date('Y/m/d', strtotime($film['start_date'])); ?></span>
							</p></li>
						<?php } ?>
					</ul>
				</div>
				<div class="clum4_rt right">
					<ul>
					<?php foreach($films as $film) { ?>
						<li>
							<div class="rt_title">
								<a href="<?php echo TUrl::instance()->get('/film/detail/id/'.$film['film_id']); ?>" target="_blank"><i></i><?php echo $film['name']; ?></a>
							</div>
							<div class="rt_word clearfix">
                                                            <img src="<?php echo TUrl::instance()->imageUp($film['image']); ?>" />
								<p>
									<?php echo mb_substr($film['story'], 0, 50); ?>... <a href="<?php echo TUrl::instance()->get('/film/detail/id/'.$film['film_id']); ?>" target="_blank" class="col">查看全文></a>
								</p>
							</div>
						</li>
					<?php } ?>
					</ul>
				</div>
			</div>

