@charset "utf-8";
/* CSS Document */

.column{height: 346px; margin-top: 10px; background-color: #fff; border:1px solid #eaeaea; padding:9px 20px 22px 9px; } 
.column .banner{position: relative; height: 346px; width: 840px; } 
.column .banner .pic li{display: none; } 
.column .banner .pic li.active{display: block; } 
.column .banner .pic li img{width: 840px; height: 306px; } 
.column .banner .title{position: absolute; bottom:0; left:0; width: 820px; height: 40px; padding-left: 20px; color: #333; background-color: #f0f0f0; } 
.column .banner .title p{font:16px/40px "Microsoft YaHei","PingHei"; } 
.column .banner .title .point{position: absolute; top:10px; right:10px; width: 100px; overflow: hidden; } 
.column .banner .title .point li{float: left; width: 20px; height: 20px; font: 16px/20px "Microsoft YaHei","PingHei"; margin-left: 5px; color: #333; text-align: center; background-color: #fff; border-radius:3px; cursor: pointer; } 
.column .banner .title .point li.active{color: #fff; background: #6eb42d; } 
.column .banner .l_btn{position: absolute; top:110px; left:0; width: 47px; height: 86px; background: url(../img/banner_arrow.png) no-repeat; } 
.column .banner .l_btn:hover{background: url(../img/banner_arrow.png) no-repeat 0 -113px; }
.column .banner .r_btn{position: absolute; top:110px; right:0; width: 47px; height: 86px; background: url(../img/banner_arrow.png) no-repeat -63px 0; } 
.column .banner .r_btn:hover{background: url(../img/banner_arrow.png) no-repeat -63px -114px; } 
 /*快速购票开始*/
.find_box{width: 310px; } 
.find_box h3{padding:8px 0 28px 25px; color: #333; font-size:16px; font-weight: normal; background: url(../img/film_icon.png) no-repeat 0 12px; } 
.find_box ul li{position: relative; height:40px ; line-height: 38px; margin-bottom: 10px; border:1px solid #c9c9c9; } 
.find_box ul li input{float: left; height: 20px; width: 270px; font-size: 14px; padding:10px; border:0; color: #999; outline: none; cursor: pointer; } 
.find_box ul li i{display: inline; float: left; width: 11px; height: 40px; background:url(../img/find_icons.png) no-repeat -4px 10px; cursor: pointer; }
.find_box .buy_btn{display: block; width: 310px; height: 40px; margin-top: 40px; text-align: center; color: #fff; font:bold 18px/40px "Microsoft YaHei"; background-color: #ff6400; } 
.find_box .buy_btn:hover{background-color: #FD971B; text-decoration: none; } 
.find_box  .appoint_area{position: absolute; top:40px; left:-1px; width: 308px; border:1px solid #c9c9c9; background-color: #fff; z-index: 999; } 
.find_box  .appoint_area h5{position: relative; height: 36px; line-height: 36px; padding-left: 10px; font-size: 14px; border-bottom: 1px solid #c9c9c9; font-weight: normal; color: #333; cursor: pointer; } 
.find_box  .appoint_area h5 i{position: absolute; top:15px; right:7px; width: 11px; height: 7px; background: url(../img/find_icons.png) no-repeat -25px -6px; }
.find_box  .appoint_area .con ul{padding: 20px 14px; overflow: hidden; } 
.find_box  .appoint_area .con ul li{float: left; width: 50px; height: 42px; margin:0 5px 10px; padding:8px 4px; cursor: pointer; } 
.find_box  .appoint_area .con ul li span{display: block; text-align: center; font-size: 14px; line-height: 22px; color: #333; } 
.find_box  .appoint_area .con ul li .data{border-bottom:1px dashed #c9c9c9; } 
.find_box  .appoint_area .con ul li span.cur{color: #ff6400; } 
.find_box  .appoint_area .tab{height: 33px; line-height: 33px; font-size: 14px; padding-left: 10px; } 
.find_box  .appoint_area .tab a{display: inline-block; text-align: center; margin-right: 10px; color: #333; text-decoration: none; } 
.find_box  .appoint_area .tab a.active{color: #ff6400; border-bottom: 2px solid #ff6400; } 
.find_box  .appoint_area  .tab_con{position: relative; top:2px; padding: 15px 0px 10px 10px; min-height: 160px; border-top:1px solid #ff6400; } 
.find_box  .appoint_area  .tab_con span{display: inline; float: left; font-size: 14px; padding-left: 9px; line-height: 18px; color: #ff6400; } 
.find_box  .appoint_area  .tab_con a{position: relative; display: inline; float: left; max-width: 63px; height: 18px; padding:0 12px; line-height: 18px; font-size: 14px; margin-bottom: 15px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; border-right:1px solid #999; color: #333; text-decoration: none; text-align: center } 
.find_box  .appoint_area  .tab_con a:hover{color: #fff; background-color: #ff6400; border-right:1px solid #ff6400; } 
.find_box  .appoint_area  .movie_con a{max-width: 116px; } 
.find_box  .appoint_area .film_con{border-top:none; } 
.find_box  .appoint_area .film_con a{max-width: 100px; }
 /*banner*/
.film_left{ width:850px;}
.film_right{ width:340px;}
.left_clum1,.left_clum2,.left_clum3,.left_clum4,.right_clum1,.right_clum2,.moviecount{border: 1px solid #eaeaea; background-color:#fff; margin-bottom:10px;}
.right_clum1 h2,.right_clum2 h2{ padding-left:10px;}
.col{color:#ff6400}
.film_left .film_title{ border-bottom: 1px solid #ff6400; position: relative; height: 40px; line-height:40px;}
.film_left .film_title h2{ color: #fff; font-size: 18px; background-color: #ff6400; padding: 0 15px; display:inline-block;}
.film_left .film_title .more,.film_right .film_title .more{ position: absolute; right: 10px; top: 0px;}
.film_right .film_title{ border-bottom: 1px solid #eaeaea; position: relative; height: 40px; line-height:40px;}
.film_right .film_title h2{ color: #666; font-size: 18px; display:inline-block;}

.left_clum1 ul li,.left_clum2 ul li{width:200px; float:left; position:relative; margin-top: 10px; margin-bottom: 10px; margin-left: 10px; } 
.left_clum1 .pic{ position:relative; text-align:center;}
.left_clum1 .pic .text span,.left_clum1 .pic .text b{ display:block; color:#fff; font-size:16px;}
.left_clum1 .pic .text b.col{margin-top:15px;color:#ff6400;}
.left_clum1 ul li .text{ width:100%; height:0; overflow:hidden; position:absolute; left:0; bottom:0; font-size:12px; color:#fff; background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);}
.left_clum1 .word{ margin-top:5px; position:relative;font-size:14px;}
.left_clum1 .word a.ticket{background-color: #ff6400; padding: 8px 0; width:85%; text-align:center; font-size:16px; display:block; color:#fff; margin:15px auto 8px;-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;-ms-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
.left_clum1 .word a.ticket:hover{ background-color: #ff7e2a;}
.left_clum1 .word p em {color: #ff6400; position: absolute; right: 0; top: -4px; font-weight: bold; } 
.bt_ul{width:850px; /*	height:350px;*/ overflow:hidden; position: relative; } 
.bt_ul02{width:850px; /*  height:350px;*/ overflow:hidden; position: relative; } 
.bt_ul02 .l_btn {position: absolute; top: 100px; left: 0px; width: 37px; height: 58px; background: url(../img/film_10.png) no-repeat; } 
/*
.bt_ul .l_btn:hover{
	background: url(../img/banner_arrow.png) no-repeat 0 -113px;
}
*/
.bt_ul02 .r_btn {position: absolute; top: 100px; right: 0px; width: 37px; height: 58px; background: url(../img/film_10.png) no-repeat -54px 0; }
 /*
.bt_ul .r_btn:hover{
	background: url(../img/banner_arrow.png) no-repeat -63px -114px;
}
*/
.left_clum2 ul li{ text-align:center;}
.left_clum2 a{ display:block; margin-top:5px;}

.left_clum3 ul,.mv_clum2 ul,.mv_clum3 ul{margin:10px;}
.left_clum3 ul li,.mv_clum2 ul li,.mv_clum3 ul li{border-bottom: 1px dotted #eaeaea;padding:10px; position:relative;}
.left_clum3 .list_pic,.mv_clum2 .list_pic,.mv_clum3 .list_pic{ margin-right:15px;width: 200px;}
.left_clum3 .list_text,.mv_clum2 .list_text,.mv_clum3 .list_text{ width:320px;}
.list_text p{line-height:26px;}
.left_clum3 .list_text h2 a,.mv_clum2 .list_text h2 a,.mv_clum3 .list_text h2 a{ font-size:16px; color:#333;}
.left_clum3 .list_text p.word{ color:#999; position:relative;}
.left_clum3 .list_text p.word2{ color:#6eb42d; margin-top:10px;}
.left_clum3 .list_text p.word2 span b{ font-size:18px; margin-left:20px;}
.left_clum3 .list_text em.mg,.mv_clum2 .list_scor em.mg{background:url('../img/film_06.jpg') no-repeat left center; background-size:20px auto; padding-left:25px; position:absolute; top:20px;right: -100px; font-weight:bold;}
.left_clum3 .list_text em.mg b,.mv_clum2 .list_scor em.mg b{ font-size:20px;}
.left_clum3 .hotarea{ height:35px; line-height:35px; background-color:#ffeee3; padding:0 10px; margin:10px; position:relative;}
.left_clum3 .hotarea a{ padding:0 10px; display:inline-block;}
.left_clum3 .hotarea a:hover{ background-color:#ff6400; color:#fff;}
.left_clum3 .hotarea a.but,.mv_clum2 .hotarea a.but{width:16px; height:16px; position:absolute; right: 10px; top: 10px; padding:0px; background:url('../img/film_11.png') no-repeat; } 
.left_clum3 .hotarea a.but02{right: 35px; background:url('../img/film_22.png') no-repeat; } 
.left_clum3 .hotarea a.but:hover,.mv_clum2 .hotarea a.but:hover{}
.left_clum3 .list_but,.mv_clum2 .list_but{ position:absolute; right:10px; top:33px;}
.mv_clum3 .list_but{ position:absolute; right:10px; top:88px;}
.mv_clum2 .list_but{ top: 96px;}
.mv_clum2 .list_scor{ position:absolute; right: 295px; top: -14px;}
.mv_clum3 .list_scor{ position:absolute; right: 10px; top: 15px;}
.mv_clum3 .list_scor{background:url('../img/film_16.jpg') no-repeat; width:246px; height:30px; line-height:30px;}
.mv_clum3 .list_scor b{ margin-left:35px; display:block;}
.left_clum3 .list_but a,.mv_clum2 .list_but a,.mv_clum3 .list_but a{background-color: #ff6400; padding: 8px 35px; text-align:center; font-size:16px; display:block; color:#fff; margin:15px auto 8px;}
.left_clum3 .list_but a:hover,.mv_clum2 .list_but a:hover,.mv_clum3 .list_but a:hover{background-color: #ff7e2a;}

.left_clum4 .clum4_lf{ width:460px;}
.left_clum4 .clum4_rt{ width:388px;}
.left_clum4 .clum4_lf ul{margin:10px;}
.left_clum4 .clum4_lf ul li{ float:left; margin:10px;}
.left_clum4 .clum4_lf p{ text-align:center; margin-top:6px;}
.left_clum4 .clum4_lf p a{ font-size:16px; color:#333; font-weight:bold; display:block;}
.left_clum4 .clum4_rt .rt_title{ margin:10px 0; position:relative;padding-left: 14px;}
.left_clum4 .clum4_rt .rt_title i{ width:3px; height:3px; display:inline-block; background-color:#666; position:absolute; top:10px; left:0;}
.left_clum4 .clum4_rt .rt_word{ margin:0 14px;}
.left_clum4 .clum4_rt .rt_word img{ width:150px; height:90px; float:left; margin-right:10px;}
.left_clum4 .clum4_rt .rt_word a{ margin-left:16px; display:inline-block;}

.right_clum1 ul li{ margin:0 10px; border-bottom: 1px dotted #eaeaea; padding:13px 0;}
.right_clum2 ul li{ margin:0 10px; border-bottom: 1px dotted #eaeaea; padding:10px 0;}
.right_clum1 ul li:nth-last-child(1),.right_clum2 ul li:nth-last-child(1),.left_clum3 ul li:nth-last-child(1),.mv_clum2 ul li:nth-last-child(1),.mv_clum3 ul li:nth-last-child(1){border-bottom:none;}
.right_clum1 .fig_tt{ position:relative;}
.right_clum1 .fig_tt i{ width:20px; height:20px; display:inline-block;margin-right:10px; border-radius:30px;color:#fff; text-align:center; background-color:#d3d3d3;}
.right_clum1 .fig_tt i.bg1{ background-color:#ff6400;}
.right_clum1 .fig_tt i.bg2{ background-color:#6eb42d;}
.right_clum1 .fig_tt i.bg3{ background-color:#25c6e9;}
.right_clum1 .fig_tt em{ position:absolute; right:10px; font-weight:bold; top:0;}
.right_clum1 .fig_tt em.mg{background:url('../img/film_06.jpg') no-repeat left center; background-size:20px auto; padding-left:25px;}
.right_clum1 .fig_wd{ margin-top:10px; position:relative;}
.right_clum1 .fig_wd2{ margin-top:10px; position:relative;padding-left: 30px;}
.right_clum1 .fig_wd2 a{ position:absolute;right:10px;}
.right_clum1 .fig_wd img{ width:75px; height:90px; float:left; margin-right:20px;margin-left: 30px;}
.right_clum1 .fig_wd{ font-style:italic;}
.right_clum1 .fig_wd h4{background:url('../img/film_06.jpg') no-repeat 124px center; font-size: 28px; padding-left: 160px;}
.right_clum1 .fig_wd h4 b.fot{ font-size:17px;}

.right_clum2 ul li h4{ font-size:16px; color:#333; margin-top:10px;}
.right_clum2 ul li p{ margin-top:10px; position:relative;}
.right_clum2 ul li p a{ position:absolute; right:0; color:#999;}
.wth680 {width: 680px; overflow: hidden; position: absolute; left: 80px; top: 0px; }
/* movie css */
.movie_mode{ padding:10px;}
.mv_clum1{ padding:0 10px;}
.mv_clum1 h2,.mv_clum1 h2 span{ font-size:16px; margin-bottom:5px;}
.dlTy { padding-left: 70px; position: relative; line-height: 22px;}
.dlTy input{ background-color:#f0f0f0; border:1px solid #e1e1e1; padding: 6px 10px; color:#999;	width: 170px;outline: none;}
.dlTy .film_btn{width: 70px;margin-left: 10px;background-color: #ff6400;color: #fff;font:14px/30px "Microsoft YaHei";border:0;padding:0;cursor: pointer;}
.dlTy .film_btn:hover{background-color: #ff7e2a;}
.typeTitle {color: #999; left: 0; position: absolute; top: 0; } 
.typeTitle i{ display: inline-block;  width: 28px;}
.mv_clum1 ul li a {margin-right: 6px; display:inline-block; padding: 0 10px; margin-bottom: 10px;} 
.mv_clum1 ul li a:hover{ background-color:#ff6400; color:#fff;}
.selectedMenus{ height:40px; line-height:40px; background-color:#ffeee3; margin-top:20px; text-align:right; padding-right:20px;}
.selectedMenus a{display: inline-block; padding-left:15px; margin-left:10px; background-image: url(../img/jt_all.png); background-repeat: no-repeat; background-position: left 17px; } 
.selectedMenus a.up_org{background-position:left 15px;}
.selectedMenus a.up_gry{background-position:-93px 15px;}
.selectedMenus a.down_org{background-position:0px -15px; } 
.selectedMenus a.down_gry{background-position:-93px -15px; } 
.mv_clum2 .list_text p{ font-size:12px; line-height:26px;}
.mv_clum2 .list_text p span,.mv_clum3 .list_text p span{ color:#999;}
.mv_clum2 .list_text h2 span,.mv_clum3 .list_text h2 span{ color:#999; font-size:12px; font-weight:normal;}
.mv_clum2 .list_text p span.col,.mv_clum3 .list_text p span.col{color:#ff6400}
.mv_clum2 .list_pic,.mv_clum3 .list_pic{ position:relative;}
.mv_clum2 .list_pic span{ display:block;background:url('../img/film_13.png') no-repeat; width:90px; height:30px; line-height:30px; text-align:center; color:#fff; position:absolute;right:0;bottom:10px; font-size:14px;}
.mv_clum3 .list_pic span{font-size:14px;}
.hotclum{}
.hotlink{ text-align:right; margin-top:5px; }
.hotlink a{color:#999;}
.hotlink a:hover{ color:#ff6400;}
.hotclum .hot_1 i{}
.hotclum .hot_2{ font-size:16px; color:#333; font-weight:bold;}
.hotclum .hot_3{ background-color:#ffeee3; padding:5px 10px;}
.film_right .film_title {border-bottom: 1px solid #eaeaea; height: 40px; line-height: 40px; position: relative; } 
.movietab{ border-bottom: 1px solid #eaeaea;}
.movietab a{height: 40px; line-height:40px; display:inline-block; margin-right:10px; padding:0 25px; font-size:16px;}
.movietab a.hov{background-color:#ff6400; color:#fff;}
.mv_clum3{ border-left: 1px dotted #6eb42d;  margin-left: 36px;  padding-left: 60px}
.datelt{ left: -105px;color: #fff; font-size:20px;background:url('../img/film_15.jpg') no-repeat; text-align: center; width: 70px; height:70px;  position: absolute;right: 0; top: 0;}
.datelt b{display: block; margin-top: 6px;}
.mv_clum3 ul li{ position:relative; z-index: 1;}
.mediart{}
.mv_clum3 .list_text p img{ width:70px; height:70px; margin:7px 0; display:inline-block;}
.mv_clum3 .list_text p a{width:75px; display: inline-block; margin-right:10px; text-align:center;}
/* movie css end*/

/*@media screen and (max-width: 1200px) {
	.wrapper{width: 980px;}
	.film_left{ width:850px;}
	.film_right{ width:340px;}
	.left_clum1 ul li,.left_clum2 ul li{ width:200px; float:left; margin:10px;}
	.left_clum4 .clum4_lf{ width:460px;}
	.left_clum4 .clum4_rt{ width:388px;}
}
*/

/*电影院排名购票 css*/
.cinebut{width: 1200px; margin:0 auto; position:relative;height: 350px;}
.cinebanner{ position:relative; min-width: 1200px;}
.cinebanner ul{ width:1900px;}
.cinebanner ul li img{ width:1900px; height:500px;}
.cinebanner .r_btn{position: absolute; top:130px; right:0; width: 47px; height: 86px; background: url(../img/banner_arrow.png) no-repeat -63px 0; } 
.cinebanner .l_btn{position: absolute; top:130px; left:0; width: 47px; height: 86px; background: url(../img/banner_arrow.png) no-repeat; }
.cine_mode,.cine_mode2{ padding:10px;}
.cine_mode h3,.cine_mode h3 span{ font-size:16px; margin: 15px 0;}
.cinemamain{ position: relative;}
.cineclum1{ padding:20px;}
.cinleft{ width:500px; margin-right:15px;}
.cincenter{ width:380px;}
.cinright{ width:230px;}
.cin2left{ width:850px;}
.cin2left,.cineclum1{background-color: #fff;border: 1px solid #eaeaea;  margin-bottom: 10px;}
.bigpic{ margin-bottom:10px; width:500px; height:300px;}
.bigpic img{ width:500px; height:300px;}

.cinmaill{ position:relative; }
.cinmaill .cinam_cl{margin: 0px auto; overflow: hidden; width: 440px;}
.cinmaill ul li{ float:left;width:100px; height:60px; margin: 0 5px; padding:10px 0;}
.cinmaill ul li img{width:100px; height:60px;}
.cinmaill .cinam_cl a.active img{border:1px solid #ff6400;-moz-transform:scale(1.1);-webkit-transform:scale(1.1);-o-transform:scale(1.1); transform:scale(1.1);-ms-transform:scale(1.1);box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);-moz-transition:all 1s ease;-webkit-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease;}

.cinmaill .l_btn,.cie2 .l_btn,.cie .l_btn{position: absolute; top: 10px; left: 0; width: 30px; height: 60px; background: url(../img/film_25.png) no-repeat left center; } 
.cinmaill .r_btn,.cie2 .r_btn,.cie .r_btn{position: absolute; top: 10px; right: 0px; width: 30px; height: 60px; background: url(../img/film_25.png) no-repeat -28px center; } 
.cie2 .l_btn{ top:88px; left:10px;}
.cie2 .r_btn{ top:88px; right:10px;}

.cie{ position:relative;}
.cie .l_btn{ top:60px; left:10px;}
.cie .r_btn{ top:60px; right:10px;}

.cincenter h2 a {color: #333; font-size: 16px; } 
.cincenter p{ line-height:26px; color:#666;}
.cincenter p.col{color: #ff6400;}
.cinstar ul{display:inline-block;}
.cinstar li{background:url('../img/film_28.jpg') no-repeat 0 0; width:24px; height:24px; display:inline-block; margin-right:5px;}
.cinstar li.on{background:url('../img/film_28.jpg') no-repeat right 0;}
.cinstar b{ background-color:#6eb42d; color:#fff; font-size:12px;display:inline-block; padding:12px 5px; margin:12px 20px;}
.cinstar b i{ font-size:22px;}
.cinright{ width:230px; height:300px;}
.cho_det_rt h3{ font-size: 16px; margin-bottom: 5px;}
.cho_det_rt .mh3{margin-top: 0;}
.cin2left .timeOutside a{background:url('../img/film_26.jpg') no-repeat 0 0; width:110px; height:70px; font-size:15px; margin-right:5px; display:inline-block; font-weight:bold;}
.cin2left .timeOutside a:nth-last-child(1){ margin-right:0px;}
.cin2left .timeOutside a.act{background:url('../img/film_26.jpg') no-repeat right 0;}
.cin2left .timeOutside a span{ color:#fff; text-align:center; display:block; height:34px; line-height:34px; font-size:16px;}
.cin2left .timeOutside a em{ font-style:normal; color:#ff6400; padding-left:35px; height:34px; line-height:34px;}
.cin2left .timeOutside a.act span{color:#ff6400;}
.cin2left .timeOutside a.act em{color:#fff;}


.cineintrod{position:relative; margin:20px auto;padding: 20px 0;}
.cineintrod ul li{width:228px; float:left; margin:0 10px;}
.cineintrod ul li a:hover img,.cinchoice ul li a:hover img,.cinchoice ul li a.active img{border:1px solid #ff6400;-moz-transform:scale(1.1);-webkit-transform:scale(1.1);-o-transform:scale(1.1); transform:scale(1.1);-ms-transform:scale(1.1);box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);-moz-transition:all 1s ease;-webkit-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease;}
.cineintrod ul li img{width:228px; height:136px;border:1px solid #fff;}

.cie2{background-color:#f0f0f0; position:relative; }
.cinchoice{ position:relative; margin:20px auto; padding:35px 0; }
.cinchoice ul li{width:130px; float:left; margin:0 10px;}
.cinchoice ul li img{ width:130px; height:166px;border:1px solid #f0f0f0;}
.cho_det_lt{ width:240px;}
.cho_det_rt{ width:588px;}
.cho_det_lt a img{ width:95px; height:95px; display:inline-block; margin-bottom:5px;}
.cho_det_lt a.shipin{ position:relative;}
.cho_det_lt a.shipin i{background:url('../img/film_35.png') no-repeat; position:absolute; top:0; display:block;width:95px; height:95px;}
.cho_det_lt a{width:95px; display: inline-block; margin-left:10px; text-align:center;}

.chooseOpi_head{ background-color:#f0f0f0; line-height:40px; height:40px; overflow:hidden; color:#333; margin-top:15px;}
.chooseOpi_head span, .chooseOpi_body ul li span {display: inline-block; float: left; overflow: hidden; position: relative; width:160px; text-align:center; } 
.chooseOpi_body ul li{border-bottom: 1px dotted #eaeaea; height:42px; padding:15px 0;}
.chooseOpi_body ul li:nth-last-child(1){ border:none;}
.chooseOpi_body ul li span{ color:#999; font-size:12px;}
.chooseOpi_body ul li span em{ display:block; color:#333; font-size:16px;}
.chooseOpi_body .opiurl a{background-color: #ff6400; text-align:center; font-size:16px; display:block; color:#fff; height:42px; line-height:42px;width: 120px; margin:0 auto;}
.chooseOpi_body .opiurl a:hover{background-color:#ff7e2a; color:#fff;}
.chooseOpi_body .opiEdition span{ color:#999;}
.chooseOpi_body .opiEdition em{font-style:normal; font-size:16px; color:#fff;background:url('../img/film_27.png') no-repeat 40px 0; text-align:center;}
.chooseOpi_body .opiEdition em.typemax3d{ background-position: 40px -83px;}
.chooseOpi_body .opiEdition em.typemax2d{ background-position: 40px -49px;}
.chooseOpi_body ul li span.opiPrice{ font-size:16px;}
.chooseOpi_body ul li span.opiPrice b{ margin-top:9px; display:block;}

.cinetrod_word{ padding:20px;}
.cinetrod_word p{line-height: 26px;}
.cinetrod_word h4{ font-size:16px; margin-bottom:20px;}
.cinetrod_word h5{ background-color:#ff6400; padding:5px 0; width:90px; text-align:center; color:#fff; margin:20px 0;}

/*电影院排名购票end css*/

/*购票选座 css*/
.cinepaystep{ background-color: #fff; border: 1px solid #eaeaea; padding: 20px;}
.paystep ul{ padding-top:10px; padding-bottom:25px;border-bottom: 1px dotted #eaeaea;}
.paystep ul li{background:url('../img/film_30.jpg') no-repeat right 0; color:#999; width:300px; font-size:12px; text-align:center; float:left;}
.paystep ul li i{ color:#666; font-weight:bold; font-size:16px; height:30px; line-height:30px; display:block; margin-bottom:5px; font-style:italic;}
.paystep ul li.act{ background-position:left 0; color:#333;}
.paystep ul li.act i{color:#fff;}
.spnoticeBox,.seatview .seat_con{margin-top:30px;position: relative;}
.spnoticeBox .seatview{ width:600px; margin:0 auto;padding: 0 80px;}
.spnoticeBox .seatview h2{background:url('../img/film_31.jpg') no-repeat; text-align:center; margin-top:30px; color:#fff; font-size:18px; width:381px; margin:0 auto; height:60px;padding-top: 6px;}
.spnoticeBox .seatview h2 span{ font-size:14px; display:block; margin-top: 8px;}
.spnoticeBox .seattable{ background-color:#f0f0f0; width:290px; padding:20px;}
.seatview .seat_con p {height: 28px; text-align: center; } 
.seatview .seat_con .num {color: #999; left: 0; line-height: 20px; position: absolute; text-align: center; white-space: nowrap; width: 20px; background-color:#ffd16f; color:#fff; border-radius:30px; } 
.seatview .seat_con .seat,.seatview .seat_tip .seat{background:url('../img/film_32.jpg') no-repeat left 0; display: inline-block; height: 18px; margin: 0 2px; outline: 0 none; vertical-align: middle; width: 22px; } 
.seatview .seat_con .active,.seatview .seat_tip .active,.seatview .seat_con .active{background-position: -54px 0;}
.seatview .seat_con .active:hover{background-position: right 0;}
.seatview .seat_con .disabled:hover{background-position: -162px 0;}
.seatview .seat_con .selected:hover{background-position: -108px 0;}
.seatview .seat_con .love:hover{background-position: -216px 0;}
.seatview .seat_con .disabled,.seatview .seat_tip .disabled{background-position: -162px 0;} 
.seatview .seat_con .selected,.seatview .seat_tip .selected{background-position: -108px 0;} 
.seatview .seat_con .love,.seatview .seat_tip .love{background-position: -216px 0; }
.seatview .seat_tip {font-size: 16px; height: 40px; line-height: 40px; text-align: center; background-color:#fff9f5; border:1px solid #ffe1cd; margin:50px auto; } 
.seatview .seat_tip span {margin-right:20px; }
.seattable .seat_p1{height:130px;}
.seattable .seat_p1 a.seatimg{ width:100px; float:left; margin-right:10px;}
.seattable .seat_p1 a.seatimg{width:100px; height:130px;}
.seattable .seat_p1 b{ font-size:16px; margin-bottom:15px;display: block;}
.seattable .seat_p1 span{ display:block;}
.seattable ul{ margin-top:20px;}
.seattable ul li span.t,.choose-seat span.t{ color:#999;}
.seattable ul li {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin:3px 0; } 
.seattable ul li strong{ font-weight:normal;}
.seattable ul li{white-space: nowrap; } 
.seattable ul li .show-time {background: none repeat scroll 0 0 #fff; border: 1px solid #f76120; cursor: pointer; display: inline-block; line-height: 22px; padding: 0 5px; }
.seattable ul li .show-time i {background:url('../img/film_0.jpg') no-repeat; display: inline-block; height: 14px; margin-left: 9px; vertical-align: -1px; width: 16px; } 
.choose-seat,.choose-seat ul{ margin:10px 0;}
.choose-seat p{ margin:3px 0;}
.choose-seat ul .selected {background:url('../img/film_29.jpg') no-repeat; border: medium none; color: #333; height: 26px; line-height: 26px; display: inline-block; text-align:center; width: 79px; } 
.chooselogin p{ margin-top:5px;}
.chooselogin input{ width:282px; background-color:#fff; border:1px solid #c9c9c9; color:#999; height:35px; line-height:35px; text-indent: 8px; margin:5px 0;}
.chooselogin input.yz{ width:116px; margin-right:8px;}
.chooselogin a{ margin-top:5px;}
.chooselogin input.lg{ background-color:#ff6400; color:#fff; font-size:16px; height:42px; line-height:42px; text-align:center; border:0;cursor: pointer;outline:none;}
/*购票选座 end css*/

<!--电影院css-->
.cinematab a{
	font-size: 16px;
}
.dlNp{
	padding-left:0;
	line-height:22px;
}
.dlTy .ocol{
	color: #ff6400;
}
.typeHove{
	background-color: #ff6400;
  	color: #fff !important;
}
.mv_clum1 ul .yt{
	padding-left: 90px;
	line-height:22px;
}
.mv_clum1 ul .chara {
	padding-left: 48px;
	line-height: 32px;
}
.mv_clum1 ul .chara dd a{
	padding-left: 30px;
	padding-right: 0;
	color: #fff;
	background: url(../img/cha_ico.png) no-repeat -1px 2px;
}
.mv_clum1 ul .chara dd .cha1{
	width: 67px;
}
.mv_clum1 ul .chara dd .cha2{
	width: 56px;
	background: url(../img/cha_ico.png) no-repeat -1px -31px;
}
.mv_clum1 ul .chara dd .cha3{
	width: 54px;
	background: url(../img/cha_ico.png) no-repeat -1px -64px;
}
.address_pr{
	position: relative;
}
.selectedMenus .address_c{
	position: absolute;
	top:0;
	left:10px;
}
.selectedMenus .address_c p{
	padding-left: 20px;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	background: url(../img/coord_ico.png) no-repeat left center;
}
.selectedMenus .address_c span{
	font-size: 16px;
	font-weight: bold;
	color: #ff6400;
}
.cine_clum ul li{
	padding: 20px 0;
	border-bottom:1px dashed #f0f0f0;
	overflow: hidden;
}
.cine_clum .li_last{
	border-bottom:none;
}
.cine_clum .con_media{
	width: 395px;
	padding:0 9px; 
}
.cine_clum .busines_cover{
	height: 275px;
}
.cine_clum .busines_cover img{
	width: 395px;
	height: 235px;
}
.cine_clum .busines_title{
	position: relative;
	padding-left: 10px;
	color: #333;
	font: 16px/40px "Microsoft YaHei";
	background-color: #f0f0f0;
	font-weight: bold;
}
.cine_clum .list_scor{
	position: absolute;
	top:0;
	right:10px;
	height: 40px;
}
.cine_clum .list_scor em{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	color: #ff6400;
	background: url(../img/cine_ico.png) no-repeat left center;
  	padding-left: 20px;
 	font-weight: bold;
 	font-style: normal;
}
.cine_clum .list_scor em.mg b{
	font-style: italic;
	font-size: 24px;
	line-height: 40px;
	padding-right: 5px;
}
.cine_clum .movie_text{
	margin-top: 10px;
	padding-left: 5px;
	color: #999;
}
.cine_clum .movie_text .point{
	display: inline-block;
	width: 15px;
	height: 15px;
	color: #fff;
	line-height: 15px;
	margin:0 5px;
	text-align: center;
	border-radius:50%;
	background-color: #ffa468;
}
.cine_clum .movie_text .newline{
	padding-left: 32px;
}
.cine_clum .movie_text .map{
	color: #6eb42d;
	margin-left: 10px;
	padding-left: 18px;
	background: url(../img/cinema_ico.png) no-repeat -95px -76px;
}
.cine_clum .movie_text .map:hover{
	text-decoration: underline;
}
.cine_clum .movie_text .film a{
	color: #666;
}
.cine_clum .movie_text .film a:hover{
	color: #ff6400;
}
.cine_clum .movie_text p{
	padding-bottom: 5px;
}
.cine_clum .movie_text h5{
	margin: 8px 0;
	color: #333;
	font-size: 16px;
}
.cine_clum .movie_text h5 span{
	font-size: 16px;
	color: #ff6400;
}
.cine_clum .movie_text .ticket{
	position: relative;
	margin-top: 10px;
}
.cine_clum .movie_text .ticket_btn{
	display: inline-block;
	width: 170px;
	height: 40px;
	color: #fff;
	line-height: 40px;
	font-size: 16px;
	text-align: center;
	background-color: #ff6400;
}
.cine_clum .movie_text .ticket_btn:hover{
	background-color: #ff7e2a;
}
.cine_clum .ticket .collect{
	position: absolute;
	top:8px;
	right:10px;
	padding-left: 25px;
	font-size: 16px;
	color: #ff6400;
	background: url(../img/cinema_ico.png) no-repeat -91px -39px;
}
/*点击已收藏*/
.cine_clum .ticket .collect.over{
	color: #999;
	background: url(../img/cinema_ico.png) no-repeat -91px -6px;
}
/*
.movie_page{
	text-align: center;
}
.movie_page a{
	display: inline-block;
	margin: 0 2px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #333;
	font-size: 14px;
	font-style: italic;
	background-color: #fff;
}
.movie_page a.active{
	color: #fff;
	background-color: #ff6400;
}
.movie_page span{
	display: inline-block;
	width: 70px;
	height: 28px;
	line-height: 28px;
	color: #ff6400;
	font-size: 14px;
	text-align: center;
	border:1px solid #ff6400;
	cursor: pointer;
}
.movie_page span:hover{
	color: #fff;
	background-color: #ff6400;
	border:1px solid #ff6400;
}
*/
/*不可以点击 S*/
/*
.movie_page span.over{
	color: #999;
	border:1px solid #bebebe;
}
.movie_page span.over:hover{
	color: #999;
	background: none;
	border:1px solid #bebebe;
}
*/
/*不可以点击 E*/
.right_clum1 .hot_play li{
	position: relative;
	overflow: hidden;
}
.right_clum1 .hot_play .pic{
	position: relative;
	float: left;
	margin-right: 10px;
	width: 100px;
	cursor: pointer;
}
.right_clum1 .hot_play .pic img{
	width: 100px;
	height: 130px;
}
.right_clum1 .hot_play .pic i{
	position: absolute;
	bottom:5px;
	right:0;
	text-align: center;
	color: #fff;
	background: url(../img/cinema_ico.png) no-repeat;
}

.right_clum1 .hot_play .pic i.max{
	width: 67px;
	background-position: -8px -74px;
}
/*3D IMAX*/
.right_clum1 .hot_play .pic i.d3{
	width: 47px;
	background-position: -28px -48px;
}
/*3D*/
.right_clum1 .hot_play .pic i.d2{
	width: 47px;
	background-position: -28px -21px;
}
/*2D*/
.right_clum1 .hot_play .txt{
	float: left;
	width: 207px;
}
.right_clum1 .hot_play .txt .title{
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	margin-bottom: 5px;
}
.right_clum1 .hot_play .txt .title:hover{
	color: #ff6400;
}
.right_clum1 .hot_play .txt .len{
	padding:0 5px;font-size: 12px;
	background-color: #f0f0f0; margin-top: 5px; display:block;
}
.right_clum1 .hot_play .txt .len b{
	color: #ff6400;
	font-weight: normal;
}
.right_clum1 .hot_play .txt p{
	line-height: 20px;font-size: 12px;
}
.right_clum1 .hot_play .scores{
	position: absolute;
	right:10px;
	top:0;
	color: #ff6400;
}
.right_clum1 .hot_play .scores b{
	font-size: 22px;
}
.right_clum1 .hot_play .scores em{
	display: inline-block;
	padding-left: 20px;
	font-style: italic;
	font-weight: bold;
	background:url(../img/cine_ico.png) no-repeat left center;
}
.right_clum2 .cinema_active li{
	overflow: hidden;
}
.right_clum2 .cinema_active li .txt{
	width: 200px;
	margin-left: 10px;
}
.right_clum2 .cinema_active li .txt .title{
	font-size: 16px;
	font-weight: bold;
	color: #333;
}
.right_clum2 .cinema_active li .txt .data{
	padding-left: 20px;
	margin-top: 0;
	line-height: 30px;
	background:url(../img/cinema_ico.png) no-repeat -95px -100px;
}

/*购票列表页开始*/

.gp_ma_l{width:899px;float:left;padding:20px;background-color:#fff;border:1px solid #eaeaea}


.gpa {
	float: left;
	height: 486px;
	width: 370px;
	position: relative;
}
.gpa img{width:370px;height:486px;}
.gpa .gp_pf{
	width:110px;
	height:50px;
	line-height:50px;
	position:absolute;
	top:0px;
	right:0px;
	font-size:16px;
	font-style: italic;
	color: #FFF;
	background-color: #6eb42d;
	text-align: center;
	font-weight: bold;
}
.ga_ti_ct{margin-left:20px;float:left;width:508px;}
.ga_ti_ct h1{
	font-size: 18px;
	line-height: 24px;
	color: #333333;
	padding-bottom: 10px;
}
.ga_ti_ct .gz_tit{font-size:14px;line-height:26px;color:#999}
.ga_ti_ct p{
	line-height:26px;
	color:#333333;
	font-size:14px;
	position: relative;
}
.ga_ti_ct p span{color:#ff6400;font-size:14px;}
.ga_ti_ct .gp_more{
	color: #ff6400;
	display: block;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.ga_ti_ct .gp_more:hover{
	text-decoration: underline;
}
.gp_ma_r{float:right;width:258px;border:1px solid #eaeaea;background-color:#f0f0f0;height:526px;margin-left:-1px;}
.gp_ma_r .zhu_y{
	font-size:18px;
	border-left:3px solid #ff6400;
	padding-left:8px;
	font-weight: bold;
	line-height: 24px;
	margin-left: 20px;
}
.zy_main{
	padding-left:20px;
	/**
	 *     padding-right:20px;
	 */
	height:444px;
	/**
	 *     overflow-x:hidden;
    overflow-y: scroll;
	 */
	
	margin-top:10px;
	padding-bottom:10px;
}
.zy_main dl{margin-top:5px;margin-bottom:5px;}
.zy_main dl dt{width:106px;height:106px;float:left}
.zy_main dl dt img{width:100px;height:100px;border:3px solid #fff;border-radius:50%}
.zy_main dl dd{float:right;width:80px;margin-left:10px;}
.zy_main dl dd.rm_name{color:#333333;font-size:16px;line-height:26px;font-weight:bold;padding-top:10px}
.zy_main dl dd.shiyan{color:#333333;font-size:14px;line-height:24px;}
.zy_main dl dd.rm_nan{color:#ff6400;font-size:14px;line-height:24px;}
.xzq_ul{width:100%;margin-top:20px;height:30px;line-height:30px;}
.xzq_ul li {
	float: left;
	background-image: url(../img/find_icons01.png);
	background-repeat: no-repeat;
	background-position: right 12px;
	padding-top: 0;
	padding-right: 16px;
	padding-bottom: 0;
	padding-left: 16px;
	margin-right: 10px;
	font-size:16px;
}
.xzq_ul .on_c{background-position: right -12px;}
.xzq_ul .on_c a{color:#ff6400}
.xzq_main{background-color:#f0f0f0;}
.xzq_mt{
	padding:10px;
	height: 52px;
	overflow: hidden;
}
.xzq_mt a{
	display:block;
	float:left;
	padding-right: 10px;
	padding-left: 10px;
	font-size:14px;
	line-height:24px;
	background-image: url(../img/line.gif);
	background-repeat: no-repeat;
	background-position: right center;
	margin-bottom:6px;
}
.xzq_mt a.xzq_on{
	background-color: #ff6400;
	background-image: none;
	color:#fff
}
.movie_cont{width:100%}
.movie_cont li{
	margin-top:20px;
	border-bottom:1px dashed #f0f0f0;
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-bottom: 20px;
}
.movie_cont .mv_c_img{width:137px;height:82px;float:left}
.movie_cont .mv_c_img img{width:137px;height:82px;}
.movie_cont .mv_tit{
	width:315px;
	float:left;
	margin-left: 20px;
}
.movie_cont .mv_tit dt{
	font-size: 16px;
	line-height: 26px;
	font-weight: bold;
	color: #333333;
}
.movie_cont .mv_tit dd{
	line-height:26px;
	font-size:14px;
	color:#666666;
	clear: both;
}
.movie_cont .mv_tit dd span{
	line-height: 20px;
	display: block;
	float: left;
	height: 20px;
	margin-right: 10px;
	padding-right: 5px;
	padding-left: 5px;
	color:#fff
}
.movie_cont .mv_tit dd .K4{
	background-color: #ff6400;
}
.movie_cont .mv_tit dd .D4{
	background-color: #6eb42f;
}
.movie_cont .mv_tit dd .IMAX{
	background-color: #26c6e9;
}
.movie_cont .mv_tit dd .JM{
	background-color: #ffbc2b;
}
.mv_tickets{
	font-size: 14px;
	line-height: 30px;
	color: #ff6400;
	height: 50px;
	width: 90px;
	position: absolute;
	top: 30px;
	right: 170px;
}
.mv_tickets span{
	font-size:24px;
	font-weight: bold;
}
.mv_xzgp {
  line-height: 40px;
  color: #fff;
  background-color: #ff6400;
  background-image: url(../img/find_icons02.png);
  background-repeat: no-repeat;
  background-position: 100px 17px;
  height: 40px;
  width: 120px;
  position: absolute;
  text-align: center;
  right: 0px;
  top: 30px;
  font-size: 16px;
  -webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;-ms-transition: all .3s ease-in-out;transition: all .3s ease-in-out;
}
.mv_xzgp:hover{background-color: #ff7e2a;}
.mv_up{background-position: 100px -27px;background-color: #ff7e2a;}
.mv_xzgp a{color:#fff}
.mv_gray{
	background-color: #f0f0f0;
	width: 806px;
	margin-left:-10px;
	margin-top:10px;
	margin-bottom:-10px;
	padding-top: 30px;
	padding-right: 10px;
	padding-left: 10px;	
	display:none
}

.mv_gray .mv_gray_cont{width:810px;border-bottom:1px dashed #e1e1e1;margin-bottom:20px;}
.mv_gray .mv_gray_cont:last-child{border-bottom:none;background-color:#3F3}
.mv_g_time{
	width:150px;
	height:30px;
	float:left;
	margin-right:40px;
	border:1px solid #dcdcdc;
	border-radius:15px;
	background-color:#fff;
	line-height:30px;
	margin-bottom:25px;
	padding-left:12px;
	font-size:14px;
	position: relative;
}
.mv_g_time span{color:#ff6400;padding-right:4px;font-size:14px;}
.mv_g_time:nth-child(4n){margin-right:0px;}
.mv_g_chag{
	width:58px;
	height:50px;
	text-align:center;
	background-color: #ffae00;
	border: 2px solid #ffd16f;
	border-radius:50%;
	font-size:16px;
	color:#ffffff;
	line-height:20px;
	padding-top:8px;
	position:absolute;
	right:-30px;
	top:-15px;
}
.mv_g_chag a{
	color: #fff;
}

.gry_bc {
  position: absolute;
  width: 826px;
  height: 21px;
  bottom: 11px;
  left: -10px;
  background-color: #F0F0F0;
}
/*新片预告开始*/
.yg_tab{padding:20px;}
.yg_tab a{
	padding:0 15px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #c9c9c9;
  text-align: center;
  display: block;
  color: #666666;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  float:left;margin-right:10px;
}
.yg_tab a:hover{border:1px solid #ff6400;color:#ff6400}
.yg_tab a.hov{border:1px solid #ff6400;color:#ff6400}
.yg_main{width:846px;padding-left:4px;}
.yg_main li{width:190px;height:300px;float:left;margin-left:16px;margin-bottom:16px;position:relative}
.yg_main li img{width:190px;height:240px;}
.yg_main_tit{
	line-height: 30px;
	color: #FFF;
	background-color: #ff6400;
	height: 30px;
	width: 170px;
	position: absolute;
	left: 10px;
	top: 210px;
	text-align:center;
}
.yg_bg{
	width:190px;
	height:240px;
	position:absolute;
	z-index:0;
	background-image: url(../img/yg_icon01.png);
	background-repeat: no-repeat;
	background-position: center 80px;
	left:0px;
	top:0px;
}
.yg_bg:hover{background-image: url(../img/yg_icon02.png);}
.yg_name{font-size:16px;line-height:30px;width:190px;height:30px;text-align:center;color:#333;font-weight:bold;position:absolute;left:0px;bottom:30px;}
.yg_gz{
	line-height:40px;
	font-size: 14px;
	color: #666666;
	text-align: center;
	position: absolute;
	height: 40px;
	width: 190px;
	left: 0px;
	bottom: 0px;
}
.yg_gz span{color:#ff6400}

/*新片预告弹窗*/
.modal {
  display: none;
  width: 1094px;
}
.modal a.close-modal {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  display: block;
  width: 46px;
  height: 46px;
  text-indent: -9999px;
  background: url(../img/film_33.png) no-repeat 0 0;
}
.showboxmode{ padding:15px; width:1064px; background-color:#212121;}
.showboxleft{ width:830px; border:1px solid #ff6400; height:555px;}
.showboxright{ width:220px; position:relative; padding:35px 0;}
.showboxright .showclum{ height:488px; overflow:hidden;}
.showboxright .showclum ul li a{display: block;}
.showboxright .showclum ul li{ position:relative;}
.showboxright .showclum ul li a p{ position:absolute; top:150px; opacity:0;text-align:center; left:0;height:70%; width:95%; padding-left:5%; padding-top:20%;}
.showboxright .showclum ul li a:hover p{ top:0; opacity:1;background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);}
.showboxright .showclum ul li a b{ color:#fff; font-size:16px; display:block; margin:3px 0; vertical-align:middle;}
.showboxright .showclum ul li img{ width:220px; height:150px; margin:8px 0;border:1px solid #000; }
.showboxright .l_btn {
   height: 34px;
    left: 50%;
    margin-left: -22px;
    position: absolute;
    top: 0;
   width: 44px;
  background: url(../img/film_34.png) no-repeat;
}
.showboxright .r_btn {
   height: 34px;
    left: 50%;
    margin-left: -22px;
    position: absolute;
    bottom: 0;
   width: 44px;
  background: url(../img/film_34.png) no-repeat 0 bottom;
}

/*订单确认支付 css*/
.my_tickets{
	overflow: hidden;
}
.my_tickets .tickets_l{
	width: 10px;
	height: 273px;
	background: url(../img/ticket_l.png) no-repeat;
}
.my_tickets .tickets_con{  
	padding:15px 28px 30px 38px; 
	background: url(../img/ticket_bg.png) repeat-x;
}
.my_tickets .tickets_r{
	width: 10px;
	height: 273px;
	background: url(../img/ticket_r.png) repeat-x;
}
.my_tickets .tickets_info h3{
	padding-left: 26px;
	font-size: 16px;
	color: #333;
	margin-bottom: 10px;
	background: url(../img/pay_icons.png) no-repeat -130px -2px;
}
.my_tickets .tickets_info img{
	width: 148px;
	height: 196px;
}
.my_tickets .tickets_info .info_con_l{
	width: 760px;
	height: 196px;
	position: relative;
}
.my_tickets .tickets_info .info_con_r{
	margin-left: 20px;
	width: 330px;
	height: 140px;
	background: #fff;
	border:1px dashed #e3c78f;
}
.my_tickets .tickets_info .info_con_r .bg{
	display: inline-block;
	width: 125px;
	height: 125px;
	background: url(../img/pay_icons.png) no-repeat 10px -21px;
}
.my_tickets .tickets_info .info_con_r .countdown{
	padding-top: 22px;
	padding-left: 10px;
}
.my_tickets .tickets_info .info_con_r .countdown p{
	font-size: 14px;
	line-height: 26px;
	color: #666;
}
.my_tickets .tickets_info .info_con_r .countdown p .fall{
	font-size: 18px;
	color: #ff6400;
	font-weight: bold;
}
.my_tickets .tickets_info .info_con_r .countdown p .mfall{
	font-size: 14px;
	color: #ff6400;
}
.my_tickets .tickets_info .info_con .decoration{
	position: absolute;
	right:0;
	top:-49px;
	width: 16px;
	height: 273px;
	background: url(../img/ticket_c.jpg) no-repeat;
	z-index:9999;
}
.my_tickets .tickets_info .info_con ul{
	margin-left: 40px;
}
.my_tickets .tickets_info .info_con ul li{
	font-size: 14px;
	line-height: 26px;
	color: #666;
}
.my_tickets .tickets_info .info_con ul li span{
	font-size: 14px;
	color: #333;
}
.my_tickets .tickets_info .info_con ul li.phone{
	margin-top: 40px;
	padding-left: 20px;
	background: url(../img/pay_icons.png) no-repeat -135px -39px;

}
.my_tickets .tickets_info .info_con ul li .money{
	color: #ff6400;
}
.my_tickets .tickets_info .info_con ul li .user_phone{
	font-size: 18px;
	font-weight: bold;
}
.my_tickets .tickets_info .info_con ul li .revise{
	padding-left: 5px;
	font-size: 12px;
	color: #ff6400;
}
.my_tickets .tickets_info .info_con ul li .revise:hover{
	text-decoration: underline;
}
.payment_options{
	margin-top: 48px;
	color: #ebebeb;
}
.payment_options .nav{
	position: relative;
	height: 30px;
}
.payment_options .nav .payment_slider{
	position: absolute;
  top: 30px;
  left: 25px;
  width: 80px;
  height: 2px;
  background-color: #ff6400;
}
.payment_options .nav a{
	display: inline-block;
	width: 130px;
	text-align: center;
	font-size: 16px;
	color: #333;
}
.payment_options .nav a:hover{
	color: #ff6400;
}
.payment_options .nav a.active{
	color: #ff6400;
}
.payment_options .payment_con{
	padding: 30px;
	border:1px solid #eaeaea;
}
.payment_options .payment_con .balance p{
	font-size: 16px;
	color: #666;
	padding-left: 28px;
	padding-bottom: 18px;
}
.payment_options .payment_con .account{
	background: url(../img/pay_icons.png) no-repeat -134px -174px;
}
.payment_options .payment_con .o_col{
	font-size: 16px;
	color: #ff6400;
	font-weight: bold;
}
.payment_options .payment_con .b_col{
	font-size: 16px;
	font-weight: bold;
}
.payment_options .payment_con .btn{
	display: inline-block;
	width: 75px;
	height: 27px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 27px;
	margin-left: 20px;
	background-color: #ff6400;
	-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;-ms-transition: all .3s ease-in-out;transition: all .3s ease-in-out;
}
.payment_options .payment_con .btn:hover{
	background-color: #ff7e2a;
}
.payment_options .payment_con .prompt{
	font-size: 14px;
	color: #ff6400;
	padding: 3px; 
	margin-left: 10px;
	border:1px dashed #ffceae;
}
.payment_options .payment_con .online .title{
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	color: #333;
	border-bottom:1px solid #eaeaea;
}
.payment_options .payment_con .platform_pay{
	position: relative;
}
.payment_options .payment_con .platform_pay img{
	width: 122px;
	height: 43px;
	border:1px solid #eaeaea;
	cursor: pointer;
}
.payment_options .payment_con .platform_pay img.active{
	border:1px solid #ff6400;
}
.payment_options .payment_con .platform_pay ul{
	padding-left: 110px;
	padding-top: 30px;
	overflow: hidden;
}
.payment_options .payment_con .platform_pay ul li{
	float: left;
	margin-right: 50px;
	margin-bottom: 20px;
}
.payment_options .payment_con .platform_pay ul li input{
	display: none;
}
.payment_options .payment_con .platform_pay ul li label{
	display: inline-block;
  	cursor: pointer;
  	margin: 5px 0;
  	padding-left: 20px;
  	line-height: 15px;
  	background: url(../img/pay_icons.png) no-repeat -137px -98px;
}
.payment_options .payment_con .platform_pay ul li label.checked{
	background: url(../img/pay_icons.png) no-repeat -137px -130px;
}
.payment_options .payment_con .platform_pay p{
	position: absolute;
	top:46px;
	left:0;
	font-size: 14px;
	color: #333;
}
.payment_options .payment_con .platform_pay img:hover{
	border:1px solid #ff6400;
}
.go_payments{
	position: relative;
	width: 1232px;
	margin: 0 auto;
	padding-left: 10px;
	border:1px solid #eaeaea;
	background-color: #fff;
}
.go_payments .text{
	width: 1040px;
	height: 58px;
}
.go_payments .text .pay_btn{
	position: absolute;
	right:0;
	bottom:0;
	width: 160px;
	height: 58px;
	color: #fff;
	text-align: center;
	font:bold 20px/58px "Microsoft YaHei";
	background-color: #ff6400;
	-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;-ms-transition: all .3s ease-in-out;transition: all .3s ease-in-out;
}
.go_payments .text .pay_btn:hover{
	background-color: #ff7e2a;
}
.go_payments .timer{
	margin-top: 20px;
	color: #ff6400;
	font-size: 16px;
	padding-left: 25px;
	background: url(../img/pay_icons.png) no-repeat -133px -77px;
}
.go_payments .with{
	font-size: 16px;
	color: #333;
	line-height: 51px;
}
.go_payments .with .fo_12{
	font-size: 12px;
	color: #999;
	font-weight: normal;
}
.go_payments .with .bi_28{
	color: #ff6400;
	font-size: 28px;
	font-weight: bold;
}
.go_payments .with .os_16{
	color: #ff6400;
	font-size: 16px;
	font-weight: normal;
}
/*订单确认支付 css end*/
/*最热预告*/
.zr_main{width:850px;}
.zr_main li{width:394px;height:285px;float:left;margin-left:20px;margin-bottom:16px;position:relative}
.zr_main li img{width:394px;height:240px;}
.zr_main_tit{
	line-height: 40px;
	color: #FFF;
	background-color: #ff6400;
	height: 40px;
	width: 225px;
	position: absolute;
	left: 86px;
	top: 200px;
	text-align:center;
	font-size: 18px;
	font-weight: bold;
}

.zr_bg{
	width:394px;
	height:285px;
	position:absolute;
	z-index:0;
	background-image: url(../img/yg_icon01.png);
	background-repeat: no-repeat;
	background-position: center 80px;
	left:0px;
	top:0px;
}
.zr_bg:hover{background-image: url(../img/yg_icon02.png);}
.zr_bg img{width:394px;
	height:285px;}
	
.zr_name{font-size:16px;line-height:40px;width:394px;height:40px;color:#333;font-weight:bold;position:absolute;left:0px;bottom:0px;}
.zr_name p{
	display: inline-block;
	padding-right:20px;
}
.zr_name p.na_tit{
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	line-height:40px;
}
.zr_name p.na_scro{
	padding-left: 20px;
  font-style: italic;
  font-weight: bold;
  background: url(../img/cine_ico.png) no-repeat left center;
  font-size:12px;
  color:#ff6400
	}
.zr_name p.na_scro em{font-size:24px;font-style: italic;}
.zr_name p.na_scro b{font-size:14px;}
.zr_gz{
	line-height:40px;
	font-size: 14px;
	color: #666666;
	text-align: right;
	position: absolute;
	height: 40px;
	width: 394px;
	left: 0px;
	bottom: -3px;
}
.zr_gz span{color:#ff6400}

.pad_38 a{padding-left:38px;padding-right:38px;}
/*资讯详情 S*/
.details_banner img{
	width: 1200px;
	height: 350px;
}
.details_con{
	padding:20px;
}
.details_con .text{
	padding-top: 20px;
}
.details_con .text p{
	font-size: 14px;
	line-height: 22px;
	color: #333;
	padding-bottom: 25px;
}
.details_swiping{
	position: relative;
	height: 270px;
}
.details_swiping ul li{
	display: none;
}
.details_swiping ul li.now{
	display: block;
}
.details_swiping .l_btn{
	position: absolute;
	top:75px;
	left:0;
	width: 50px;
	height: 90px;
	background: url(../img/swiping_btn.png) no-repeat;
	opacity:0.6;
	filter:alpha(opacity=60); 
}
.details_swiping .r_btn{
	position: absolute;
	top:75px;
	right:0;
	width: 50px;
	height: 90px;
	background: url(../img/swiping_btn.png) no-repeat -60px 0;
	opacity:0.6;
	filter:alpha(opacity=60); 
}
.details_swiping .l_btn:hover{
	opacity:1;
	filter:alpha(opacity=100); 
}
.details_swiping .r_btn:hover{
	opacity:1;
	filter:alpha(opacity=100); 
}
/*资讯详情 E*/
/*资讯列表页*/
.zx_tit{
	line-height:26px;
	background-image: url(../img/zx_icon.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 26px;
	padding-left: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	margin-top: 15px;
	margin-right: 20px;
	margin-bottom: 15px;
	margin-left: 20px;
}
.zx_main{width:845px;padding-left:5px;}
.zx_main li{
	width:250px;
	height:290px;
	float:left;
	margin-left:15px;
	margin-right:15px;
	position: relative;
	margin-bottom:20px;
}
.zx_main li img{width:250px;height:160px;}
.zx_bg{
	width:250px;
	height:160px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.zx_bg:hover{
	background-color: #000;
	opacity:0.5;filter:alpha(opacity=50);
}
.zx_name{
	line-height:22px;
	font-size: 16px;
	font-weight: bold;
	height: 44px;
	width: 250px;
	position: absolute;
	left: 0px;
	top: 170px;
	z-index:10
}
.zx_name a:link,.zx_name a:visited{font-size:16px;color:#333333}
.zx_name a:hover{color:#ff6400}
.zx_time{
	color:#999999;
	line-height: 44px;
	text-align: right;
	position: absolute;
	height: 22px;
	top: 184px;
	left: 0px;
	width:250px;
}
.zx_m_ctr{
	width:250px;
	line-height:20px;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.zx_m_ctr p{
	width:250px;
	line-height:20px;
	font-size:12px;
	
}
.zx_m_ctr p .more_ctr{
	position: absolute;
	right: 0px;
	bottom: 0px;
	color: #ff6400;
	display: block;
	z-index:20
}
.zx_m_ctr p .more_ctr:hover{
	text-decoration: underline;	
}