<script type="text/javascript">
	$(function(){
		$("#move_zy_indust_1").mCustomScrollbar({
	                   theme : "dark",
	                   scrollbarPosition : "inside",
	                   scrollInertia : 500
	               });
	         $(".cin2left").on("click",".mv_xzgp",function(){
	         	var ctx=$(this).closest("li");
	         	if($(this).hasClass("mv_up")){
	         		$(this).removeClass('mv_up');
	         		$(".mv_gray",ctx).stop().hide();
	         	}else{
	         		$(".mv_gray",ctx).stop().show();
	         		$(this).addClass('mv_up');
	         	}

	         });
	         $(".cin2left").on("click",".timeOutside a",function(){
	       	  $(this).addClass("act").siblings("a").removeClass("act");
	         });

		 $("#_top_move_indst").lunbo({
			begin : 1,
			speed : 5000,
			pics : "#_top_move_indst .pic li",
			lbtn : "#_tp_movies_l_btn",
			rbtn : "#_tp_movies_r_btn"
		});

		var moveImgBox=$("#_top_move_indst ul");
		var _wWidth=moveImgBox.width();//1900
		var _screenW=window.screen.width;//1920
		moveImgBox.css({position:"relative"});
		$(window).on("resize",function(){
			var _docW=$(document).width();//dom的宽度,document.body.scrollWidth，非body和当前可是window;1200+
			var _bwidth=$("body").width();//document.body.clientWidth;一直变
			//console.debug("_wWidth:"+_wWidth+";_screenW"+_screenW+";_docW"+_docW+";_bwidth"+_bwidth);
			if(_bwidth>=1200){
				var toleft=_wWidth-_bwidth;
				// console.debug('ul向左移动'+toleft);
				moveImgBox.css({left:-toleft});
			}
		});
	});
</script>

<!-- banner开始 -->
<div class="cinemabody">
<div class="banner cinebanner" id="_top_move_indst">
				<ul class="pic">
					<li>
						<a href="javascript:void(0);"><img src="http://img.caimiao.cn/yingshi/v2/img/film_23.jpg"/></a>
					</li>
				</ul>
				<div class="cinebut">
					<a class="l_btn" href="javascript:;" id="_tp_movies_l_btn"></a>
					<a class="r_btn" href="javascript:;" id="_tp_movies_r_btn"></a>
				</div>
			</div>
<!-- banner -->
<!-- 中间板块开始 -->
<div class="cinemamain wrapper">
	<div class="gp_ma_l">
		<div class="gpa">
                    <img src="<?php echo TUrl::instance()->imageUp( $film['image']);  ?>"/>
			<div class="gp_pf">评分：<span class="ft28"><?php echo substr($film['score'],0,1); ?></span><span class="ft16">.</span><span class="ft14"><?php echo substr($film['score'],2,1); ?></span><span class="ft12">分</span></div>
		</div>
		<div class="ga_ti_ct">
			<h1><a href=""><?php echo $film['name']; ?></a></h1>
			<div class="gz_tit">(<?php echo $film['attention']; ?>人关注 | <?php echo $film['audience']; ?>人购票)</div>
			<p><span>导演：</span><?php echo $film['director']; ?></p>
			<p><span>编剧：</span>XXX</p>
			<p><span>国家地区：</span><?php echo $film['country']; ?></p>
			<p><span>更多片名：</span>XXXX</p>
			<p><span>剧情：</span><br />
				<?php echo $film['story']; ?>...  <a href="javascript:none;" class="gp_more">更多剧情&gt;</a>
			</p>
		</div>
	</div>
	<div class="gp_ma_r">
		<div class="hr_30"></div>
		<div class="zhu_y">主演</div>
		<div class="zy_main" id="move_zy_indust_1">
			<?php
				//$actorIds = explode(',', $film['actor_ids']);
				$actors = explode('/', $film['actors']);
			?>
			<?php foreach($actors as $name) { ?>
			<dl>
				<dt><img src="<?php echo TUrl::instance()->imageUp($film['image']);?>"/></dt>
				<dd class="rm_name"><?php echo $name; ?></dd>
				<dd class="shiyan">饰演</dd>
				<dd class="rm_nan">XXXX</dd>
			</dl>
			<div class="clear"></div>
			<?php } ?>
		</div>
	</div>
  <div class="clear"></div>
  <div class="hr_10"></div>


<!-- 第一屏结束 -->
<div class="cineclum2" id='m'>
<div class="cin2left left">
<div class="movietab">
	<a class="hov" href="javascript:void(0);">排片购票</a>
	<a href="javascript:void(0);">电影预告/资讯</a>
	<a href="javascript:void(0);">电影影评</a>
</div>
<div class="cine_mode">
<h3>4月17日上映7部 - 共<span class="col">73</span>场</h3>
<div class="hr_10"></div>
<div class="timeOutside">
<?php
$weeks = array(1 => '一', 2 => '二', 3 => '三', 4 => '四', 5 => '五', 6 => '六', 7 => '日');
$start = strtotime(date('Ymd'));
$end = $start + 7 * 86400;
for($i = $start; $i < $end; $i+=86400) {
	$currentDate = date('Ymd', $i);
?>
<a href="<?php echo $currentDate == $date ? 'javascript:void(0);' : '/film/detail/id/'.$film['film_id'].'/date/'.$currentDate; ?>#m" <?php echo $currentDate == $date ? 'class="act"' : ''; ?>><span><?php echo $currentDate == $date ? '今天' : '周'.$weeks[date('N', $i)];?>
</span><em><?php echo date('n月j日', $i); ?></em></a>
<?php
}
?>
</div>

	<ul class="xzq_ul">
		<li class="on_c"><a href="">行政区</a></li>
		<li><a href="">商圈</a></li>
		<li><a href="">地铁沿线</a></li>
	</ul>
	<div class="xzq_main clear">
		<div class="xzq_mt">
			<a href="<?php echo '/film/detail/id/'.$film['film_id'].'/date/'.$date;?>" class="<?php if(empty($reg)) { ?> xzq_on <?php }?> ">全部</a>
			<?php  $parent_id=	$this->session->get('city_parent_id'); $regionlist = \Region::find('parent_id='.$parent_id);?>

				<?php foreach($regionlist as $item) { ?>
						<a   class="<?php if($reg==$item->code) { ?> xzq_on <?php }?> " href="<?php echo '/film/detail/id/'.$film['film_id'].'/date/'.$date.'/reg/'.$item->code;?>"><?php echo $item->name; ?></a>
				<?php }?>



		</div>
	</div>
	<ul class="movie_cont">
	<?php
		foreach($cinemaInfos as $cinemaInfo) {
		$filmFormats = explode(',', $cinemaInfo['film_format']);
	?>
		<li>
                    <div class="mv_c_img"><img src="<?php echo TUrl::instance()->imageUp($cinemaInfo['image']);  ?>" /></div>
			<dl class="mv_tit">
				<dt><?php echo $cinemaInfo['name']; ?></dt>
				<dd><?php echo $cinemaInfo['traffic']; ?></dd>
				<dd class="mt_10">
					<?php foreach($filmFormats as $filmFormat) {	?>
					<span class="<?php echo BFilmBase::getFilmFormatClassStyle($filmFormat); ?>"><?php echo $filmFormat; ?></span>
					<?php } ?>
				</dd>
			</dl>
			<div class="mv_tickets"><span><?php if($cinemaInfo['schedule']){ echo $cinemaInfo['schedule'][0]['lowest_price']/100; } ?></span>元起</div>
			<div class="mv_xzgp"><a href="javascript:void(0)">选座购票</a></div>
			<div class="clear"></div>
			<div class="mv_gray">
				<div class="gry_cont">
				<?php
					$i = 0;
					foreach($cinemaInfo['schedule'] as $schedule) {
					$i++;
					$mod = ($i - 1)%4;
					$playTime = substr($schedule['starttime'], 11, 5);
					if($mod == 0) {
				?>
					<div class="mv_gray_cont">
					<?php } ?>
						<div class="mv_g_time">
							<span><?php echo $playTime; ?></span><?php echo $schedule['version']; ?>
                                                        <div class="mv_g_chag"><a href="/order/buy?id=<?php echo $schedule['id']; ?>"><?php echo $schedule['price_real']/100 ?>元<br />购买</a></div>
						</div>
					<?php if($mod == 0) { ?>
					<div class="clear"></div>
					<?php } ?>
					</div>
				<?php } ?>
					<div class="gry_bc"></div>
				<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>

			<div class="clear"></div>
		</li>
	<?php } ?>
	</ul>

</div>
</div>
<div class="film_right right">
<?php $this->partial('block/heatPlaying'); ?>
</div>
<div class="clear"></div>
</div>
</div>
</div>

<!-- 板块结束 -->
<div class="hr_20"></div>