<ul>
    <li><dl class="dlTy"><dt><span class="typeTitle">类<i></i>型</span></dt>
        <dd id="type">
            <?php foreach($type['type'] as $item) { ?>
            <a href="javascript:void(0);"><?php echo $item; ?></a>
            <?php if($item == '其他') { ?>
            <a href="#" class="col">其他</a>
            <?php } ?>
            <?php } ?>
        </dd>
    </dl></li>
    <li><dl class="dlTy"><dt><span class="typeTitle">版<i></i>本</span></dt>
        <dd id="format">
            <?php foreach($type['format'] as $item) { ?>
            <a href="javascript:void(0);"><?php echo $item; ?></a>
            <?php } ?>
    </dl></li>
    <li><dl class="dlTy"><dt><span class="typeTitle">影片搜索</span></dt>
        <dd><input name="keyword" id="keyword" type="text"  placeholder="请输入关键字" ><input class="film_btn" type="button" value="搜索" name='seach_byname'></dd>
    </dl></li>
</ul>