<div class="film_right right">
    <div class="right_clum1">
        <div class="film_title"><h2>最受关注排行榜</h2></div>
        <ul id="chart2">
        <?php 	$attenFlims = \BFilm::instance()->getAttenFlims(); ?>
        <?php
            if($attenFlims) {
            $flg_num = 0;
                foreach($attenFlims as $item) {
                    $time_s = strtotime(date('Y-m-d'))-strtotime($item['start_date']);
                    $time_d = round($time_s/86400);
                    $flg_num++;
        ?>
            <li>
                <div class="fig_tt"><i class="bg<?php echo $flg_num; ?>"><?php echo $flg_num; ?></i><a href="<?php echo $item['id']; ?>" target="_blank"><?php echo $item['name']; ?></a><em class="col"><?php echo $item['score']; ?>分</em></div>
                <div class="fig_wd2 clearfix"><p><img src="/images/film_18.jpg" width="16" height="16" />（离上映还有 <span class="col"><?php echo $time_d; ?></span> 天）<a target="_blank" href="javascript:void(0);"><?php echo $item['attention']; ?>人关注</a></p></div>
            </li>
        <?php
                }
            }
        ?>
        </ul>
    </div>
    <div class="right_clum1">
		<?php $this->partial('block/index/weekTop10Film'); ?>
    </div>
</div>