<link href="<?php echo TUrl::instance()->css('index.css'); ?>" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<?php echo TUrl::instance()->js('index.js'); ?>"></script>
<div class="hr_10"></div>
<div class="wrapper">
	<!--中间部分-->
	<div class="file_mode">
		<div class="film_left left">
			<div class="moviecount" id="_current_fy_movies">
				<div class="movietab"><a href="/film/heat">正在热映</a><a href="javascript:void(0);" class="hov">即将上映</a></div>
				<div class="movie_mode">
					<div class="mv_clum1">
						<h2>当前<?php echo $city; ?>有<span class="col"><?php echo count($film_info); ?>部</span>电影即将上映</h2>
                                                <?php $this->partial('film/filmType'); ?>
					</div>
					<div class="selectedMenus">
						<a href="javascript:void(0);" order="attention" class="down_org">热度</a><a href="javascript:void(0);" order="start_date" class="down_gry">时间</a>
					</div>
					<div class="mv_clum3">
						<ul id="flim_list">
							<?php if($film_info) { ?>
							<?php foreach($film_info as $item) { ?>
								<li>
								<div class="datelt">
									<b>
										<?php
										$time = $item['start_date'];
										if($time{0} != 0){
											echo $time{0};
										}
										echo $time{1}.".";
										if($time{3} != 0){
											echo $time{3};
										}
										echo $time{4};
										?>
									</b>
								</div>
								<div class="mediart clearfix">
									<div class="list_pic left">
                                                                            <a href="/film/detail/id/<?php echo $item['id']; ?>" target="_blank" title=""><img alt="<?php echo $item['name']; ?>" src="<?php echo TUrl::instance()->imageUp($item['image']); ?>" width="200px" height="240px"/></a>
									</div>
									<div class="list_text left">
                                                                            <h2><a target="_blank" title="<?php echo $item['name']; ?>" href="javascript:void(0);"><?php $item['name']; ?></a> <span style="display: none;">(离上映还有 <em class="col">9</em> 天)</span></h2>
										<?php if(isset($item['type'])){ ?>
										<p><span>类型：</span><?php echo $item['type']; ?></p>
										<?php } ?>
										<p><span>语言：</span><?php echo $item['language']; ?></p>
										<p><span>片长：</span><?php echo $item['duration']; ?>分钟</p>
										<p><span>导演：</span><?php echo $item['director']; ?></p>
										<p><span>主演：</span><?php echo $item['actors']; ?></p>
										<p><a href="javascript:void(0);"><img src="<?php echo TUrl::instance()->imageUp($item['foreshow']); ?>" />预告<span class="col" style="display: none;">（2）</span></a>
											<a href="javascript:void(0);"><img src="<?php echo TUrl::instance()->imageUp($item['stills']); ?>" />剧照<span class="col" style="display: none;">（10）</span></a></p>
									</div>
									<div class="list_scor"><b class="col">预计<?php echo ($time{0}.$time{1}."月".$time{3}.$time{4});?>日开始售票敬请期待</b></div>
									<div class="list_but right"><a href="javascript:void(0);" target="_blank">＋关注</a><p><img alt="" src="http://img.caimiao.cn/yingshi/v2/img/film_17.jpg" /><span class="col"><?php echo $item['attention']; ?></span>已关注<p></div>
								</div>
							</li>
							<?php } ?>
							<?php } ?>
						</ul>
					</div>
				</div>
			</div>
		</div>
                <?php $this->partial('film/right'); ?>
		<div class="clear"></div>
	</div>
	<!--end-->

</div>
<!-- 板块结束 -->
<div class="hr_20"></div>
<script>

	var FILM = {
		order : 'attention DESC',
        img_upload:"<?php echo TUrl::instance()->imageUp(''); ?>",
		seach:function(order){
			$('#flim_list').html('请稍候……');
			$.ajax({
				type: "POST",
				url: "upcomingAjax",
				data: {type:$("dd#type a.org").text(), format:$("dd#format a.org").text(), keyword:$("#keyword").val(), order:FILM.order},
				dataType: "json",
				success: function(data){
					var html = '';
					if(data != null){
						$.each(data, function(commentIndex, data){
							var time = data['start_date'];
							html += '<li> <div class="datelt"><b>';
							if(time.charAt(4)>0){
								html += time.charAt(4);
							}
							html += time.charAt(5)+'.';
							if(time.charAt(6)>0){
								html += time.charAt(6);
							}
							html += time.charAt(7)+'</b></div><div class="mediart clearfix"><div class="list_pic left">';
							html += '<a href="'+ data['id'] +'" target="_blank" title="'+ data['name'] +'"><img alt="" src="'+FILM.img_upload+data['image'] +'" width="200px" height="240px"/></a></div>';
							html += '<div class="list_text left">';
							html += '<h2><a target="_blank" title="'+ data['name'] +'" href="javascript:void(0);">'+ data['name'] +'</a> <span style="display: none;">(离上映还有 <em class="col">9</em> 天)</span></h2>';
							if(data['type'] && data['type'].length > 0){
								html += '<p><span>类型：</span>'+ data['type'] +'</p>';
							}else{
								html += '<p><span>类型：</span></p>';
							}
							html += '<p><span>语言：</span>'+ data['language'] +'</p>';
							html += '<p><span>片长：</span>'+ data['duration'] +'分钟</p>';
							html += '<p><span>导演：</span>'+ data['director'] +'</p>';
							html += '<p><span>主演：</span>'+ data['actors'] +'</p>';
							html += '<p><a href="javascript:void(0);"><img alt="" src="'+FILM.img_upload+data['foreshow'] +'" />预告<span class="col" style="display: none;">（2）</span></a>';
							html += '<a href="javascript:void(0);"><img alt="" src="'+FILM.img_upload+data['stills'] +'" />剧照<span class="col" style="display: none;">（10）</span></a></p>';
							html += '</div><div class="list_scor"><b class="col">预计'+time.charAt(4)+time.charAt(5)+'月'+time.charAt(6)+time.charAt(7)+'日开始售票敬请期待</b></div>';
							html += '<div class="list_but right"><a href="javascript:void(0);" target="_blank">＋关注</a><p><img alt="" src="http://img.caimiao.cn/yingshi/v2/img/film_17.jpg" /><span class="col">'+ data['attention'] +'</span>已关注<p></div>';
							html += '</div></li>';
						});
					}else{
						html += '<p style="color: red;">没有查询到您要的信息</p>';
					}
					$('#flim_list').html(html);

				},
				error: function (msg) {
					alert('系统出错，请联系客服');
				}

			});

		}
	};
	$(function() {
        $("input[name='keyword']").keyup(function(event) {
            if (event.keyCode == 13) {
                FILM.seach();
            }
        });
        $("input[name='seach_byname']").click(function(event) {

            FILM.seach();

     });
        $("#_current_fy_movies").on("click", "dl.dlTy dd a", function(ev) {
            $(this).addClass("org").siblings("a").removeClass("org");
            FILM.seach();
        });
		$(".selectedMenus a").on("click", function(ev) {
			if($(this).hasClass('down_org')){
				$(this).siblings().attr('class','down_gry').end().attr('class','up_org');
				FILM.order = $(this).attr('order')+' ASC'
			}else{
				$(this).siblings().attr('class','down_gry').end().attr('class','down_org');
				FILM.order = $(this).attr('order')+' DESC'
			}
			FILM.seach();
		});
	});
</script>
