<?php 
$regions = BRegion::instance()->navRegionByPinyin();
$region = TIP::region();
?>
<div class="ct_choose"><?php echo ($region[0] == '本机地址') ? '上海' : '$region[1]'; ?></div>
<!-- 城市下拉 -->
<div class="ui_city_plugs clear" id="ui_city_plugs" style="position: absolute; left: 100px;top: 29px; display:none">
    <div class="inner" style="position:relative;">
        <span class="ui_close" title="关闭"></span>
        <div class="ui_city_cType clear">
            <ul>
                <li><a id="hotCitys" class="select" href="javascript:void(0);">热门</a></li>
                <li><a id="cityT1" href="javascript:void(0);" class="">ABCDEF</a></li>
                <li><a id="cityT2" href="javascript:void(0);" class="">GHIJ</a></li>
                <li><a id="cityT3" href="javascript:void(0);" class="">KLMN</a></li>
                <li><a id="cityT4" href="javascript:void(0);" class="">PQRSTV</a></li>
                <li class="last"><a id="cityT5" href="javascript:void(0);" class="">WXYZ</a></li>
            </ul>
        </div>
        <div class="ui_city_List clear " id="hotCitys_content">
            <div class="inner clear">
                <ul class="clear">
                    <?php foreach($regions['heat'] as $code => $row) { ?>
                            <li><a href="<?php echo '/'.$row['pinyin']; ?>" id="<?php echo $code; ?>"><?php echo $row['name']; ?></a></li>
                    <?php } ?>
                </ul>
                <p class="tar"><a href="/cityList.xhtml">更多城市</a></p>
            </div>
        </div>
        <div class="ui_city_List clear none" id="cityT1_content">
            <div class="inner clear">
			<?php if(isset($regions['all']['a'])) { ?>
            	<dl class="mt0">
                    <dt><span>A</span></dt>
                    <dd>
                        <ul>
                            <?php foreach($regions['all']['a'] as $code => $row) { ?>
                                    <li><a href="<?php echo '/'.$row['pinyin']; ?>" id="<?php echo $code; ?>"><?php echo $row['name']; ?></a></li>
                            <?php } ?>
                        </ul>
                    </dd>
                </dl>
			<?php } ?>
			<?php if(isset($regions['all']['b'])) { ?>
                <dl>
                    <dt><span>B</span></dt>
                    <dd>
                        <ul>
                            <?php foreach($regions['all']['b'] as $code => $row) { ?>
                                    <li><a href="<?php echo '/'.$row['pinyin']; ?>" id="<?php echo $code; ?>"><?php echo $row['name']; ?></a></li>
                            <?php } ?>
                        </ul>
                    </dd>
                </dl>
			<?php } ?>
			<?php if(isset($regions['all']['c'])) { ?>
                <dl>
                    <dt><span>C</span></dt>
                    <dd>
                        <ul>
                            <?php foreach($regions['all']['c'] as $code => $row) { ?>
                                    <li><a href="<?php echo '/'.$row['pinyin']; ?>" id="<?php echo $code; ?>"><?php echo $row['name']; ?></a></li>
                            <?php } ?>
                        </ul>
                    </dd>
                </dl>
			<?php } ?>
			<?php if(isset($regions['all']['d'])) { ?>
				<dl>
                    <dt><span>D</span></dt>
                    <dd>
                        <ul>
                            <?php foreach($regions['all']['d'] as $code => $row) { ?>
                                    <li><a href="<?php echo '/'.$row['pinyin']; ?>" id="<?php echo $code; ?>"><?php echo $row['name']; ?></a></li>
                            <?php } ?>
                        </ul>
                    </dd>
                </dl>
			<?php } ?>
			<?php if(isset($regions['all']['e'])) { ?>
                <dl>
                    <dt><span>E</span></dt>
                    <dd>
                        <ul>
                            <?php foreach($regions['all']['e'] as $code => $row) { ?>
                                    <li><a href="<?php echo '/'.$row['pinyin']; ?>" id="<?php echo $code; ?>"><?php echo $row['name']; ?></a></li>
                            <?php } ?>
                        </ul>
                    </dd>
                </dl>
			<?php } ?>
			<?php if(isset($regions['all']['f'])) { ?>
                <dl>
                    <dt><span>F</span></dt>
                    <dd>
                        <ul>
                            <?php foreach($regions['all']['f'] as $code => $row) { ?>
                                    <li><a href="<?php echo '/'.$row['pinyin']; ?>" id="<?php echo $code; ?>"><?php echo $row['name']; ?></a></li>
                            <?php } ?>
                        </ul>
                    </dd>
                </dl>
			<?php } ?>
            </div>
        </div>
        <div class="ui_city_List clear none" id="cityT2_content">
            <div class="inner clear">
			<?php if(isset($regions['all']['g'])) { ?>
                <dl class="mt0">
                    <dt><span>G</span></dt>
                    <dd>
                        <ul>
                            <?php foreach($regions['all']['g'] as $code => $row) { ?>
                                    <li><a href="<?php echo '/'.$row['pinyin']; ?>" id="<?php echo $code; ?>"><?php echo $row['name']; ?></a></li>
                            <?php } ?>
                        </ul>
                    </dd>
                </dl>
			<?php } ?>
			<?php if(isset($regions['all']['h'])) { ?>
				<dl>
                    <dt><span>H</span></dt>
                    <dd>
                        <ul>
                            <?php foreach($regions['all']['h'] as $code => $row) { ?>
                                    <li><a href="<?php echo '/'.$row['pinyin']; ?>" id="<?php echo $code; ?>"><?php echo $row['name']; ?></a></li>
                            <?php } ?>
                        </ul>
                    </dd>
                </dl>
			<?php } ?>
			<?php if(isset($regions['all']['j'])) { ?>
                <dl>
                    <dt><span>J</span></dt>
                    <dd>
                        <ul>
                            <?php foreach($regions['all']['j'] as $code => $row) { ?>
                                    <li><a href="<?php echo '/'.$row['pinyin']; ?>" id="<?php echo $code; ?>"><?php echo $row['name']; ?></a></li>
                            <?php } ?>
                        </ul>
                    </dd>
                </dl>
			<?php } ?>
            </div>
        </div>
        <div class="ui_city_List clear none" id="cityT3_content">
            <div class="inner clear">
			<?php if(isset($regions['all']['k'])) { ?>
                <dl class="mt0">
                    <dt><span>K</span></dt>
                    <dd>
                        <ul>
                            <?php foreach($regions['all']['k'] as $code => $row) { ?>
                                    <li><a href="<?php echo '/'.$row['pinyin']; ?>" id="<?php echo $code; ?>"><?php echo $row['name']; ?></a></li>
                            <?php } ?>
                        </ul>
                    </dd>
                </dl>
			<?php } ?>
			<?php if(isset($regions['all']['l'])) { ?>
                <dl>
                    <dt><span>L</span></dt>
                    <dd>
                        <ul>
                            <?php foreach($regions['all']['l'] as $code => $row) { ?>
                                    <li><a href="<?php echo '/'.$row['pinyin']; ?>" id="<?php echo $code; ?>"><?php echo $row['name']; ?></a></li>
                            <?php } ?>
                        </ul>
                    </dd>
                </dl>
			<?php } ?>
			<?php if(isset($regions['all']['m'])) { ?>
                <dl>
                    <dt><span>M</span></dt>
                    <dd>
                        <ul>
                            <?php foreach($regions['all']['m'] as $code => $row) { ?>
                                    <li><a href="<?php echo '/'.$row['pinyin']; ?>" id="<?php echo $code; ?>"><?php echo $row['name']; ?></a></li>
                            <?php } ?>
                        </ul>
                    </dd>
                </dl>
			<?php } ?>
			<?php if(isset($regions['all']['n'])) { ?>
                <dl>
                    <dt><span>N</span></dt>
                    <dd>
                        <ul>
                            <?php foreach($regions['all']['n'] as $code => $row) { ?>
                                    <li><a href="<?php echo '/'.$row['pinyin']; ?>" id="<?php echo $code; ?>"><?php echo $row['name']; ?></a></li>
                            <?php } ?>
                        </ul>
                    </dd>
                </dl>
			<?php } ?>
            </div>
        </div>
        <div class="ui_city_List clear none" id="cityT4_content">
            <div class="inner clear">
			<?php if(isset($regions['all']['p'])) { ?>
                <dl class="mt0">
                    <dt><span>P</span></dt>
                    <dd>
                        <ul>
                            <?php foreach($regions['all']['p'] as $code => $row) { ?>
                                    <li><a href="<?php echo '/'.$row['pinyin']; ?>" id="<?php echo $code; ?>"><?php echo $row['name']; ?></a></li>
                            <?php } ?>
                        </ul>
                    </dd>
                </dl>
			<?php } ?>
			<?php if(isset($regions['all']['q'])) { ?>
                <dl>
                    <dt><span>Q</span></dt>
                    <dd>
                        <ul>
                            <?php foreach($regions['all']['q'] as $code => $row) { ?>
                                    <li><a href="<?php echo '/'.$row['pinyin']; ?>" id="<?php echo $code; ?>"><?php echo $row['name']; ?></a></li>
                            <?php } ?>
                        </ul>
                    </dd>
                </dl>
			<?php } ?>
			<?php if(isset($regions['all']['r'])) { ?>
                <dl>
                    <dt><span>R</span></dt>
                    <dd>
                        <ul>
                            <?php foreach($regions['all']['r'] as $code => $row) { ?>
                                    <li><a href="<?php echo '/'.$row['pinyin']; ?>" id="<?php echo $code; ?>"><?php echo $row['name']; ?></a></li>
                            <?php } ?>
                        </ul>
                    </dd>
                </dl>
			<?php } ?>
			<?php if(isset($regions['all']['s'])) { ?>
                <dl>
                    <dt><span>S</span></dt>
                    <dd>
                        <ul>
                            <?php foreach($regions['all']['s'] as $code => $row) { ?>
                                    <li><a href="<?php echo '/'.$row['pinyin']; ?>" id="<?php echo $code; ?>"><?php echo $row['name']; ?></a></li>
                            <?php } ?>
                        </ul>
                    </dd>
                </dl>
			<?php } ?>
			<?php if(isset($regions['all']['t'])) { ?>
				<dl>
                    <dt><span>T</span></dt>
                    <dd>
                        <ul>
                            <?php foreach($regions['all']['t'] as $code => $row) { ?>
                                    <li><a href="<?php echo '/'.$row['pinyin']; ?>" id="<?php echo $code; ?>"><?php echo $row['name']; ?></a></li>
                            <?php } ?>
                        </ul>
                    </dd>
                </dl>
			<?php } ?>
            </div>
        </div>
        <div class="ui_city_List clear none" id="cityT5_content">
            <div class="inner clear">
			<?php if(isset($regions['all']['w'])) { ?>
                <dl class="mt0">
                    <dt><span>W</span></dt>
                    <dd>
                        <ul>
                            <?php foreach($regions['all']['w'] as $code => $row) { ?>
                                    <li><a href="<?php echo '/'.$row['pinyin']; ?>" id="<?php echo $code; ?>"><?php echo $row['name']; ?></a></li>
                            <?php } ?>
                        </ul>
                    </dd>
                </dl>
			<?php } ?>
			<?php if(isset($regions['all']['x'])) { ?>
                <dl>
                    <dt><span>X</span></dt>
                    <dd>
                        <ul>
                            <?php foreach($regions['all']['x'] as $code => $row) { ?>
                                    <li><a href="<?php echo '/'.$row['pinyin']; ?>" id="<?php echo $code; ?>"><?php echo $row['name']; ?></a></li>
                            <?php } ?>
                        </ul>
                    </dd>
                </dl>
			<?php } ?>
			<?php if(isset($regions['all']['y'])) { ?>
                <dl>
                    <dt><span>Y</span></dt>
                    <dd>
                        <ul>
                            <?php foreach($regions['all']['y'] as $code => $row) { ?>
                                    <li><a href="<?php echo '/'.$row['pinyin']; ?>" id="<?php echo $code; ?>"><?php echo $row['name']; ?></a></li>
                            <?php } ?>
                        </ul>
                    </dd>
                </dl>
			<?php } ?>
			<?php if(isset($regions['all']['z'])) { ?>
                <dl>
                    <dt><span>Z</span></dt>
                    <dd>
                        <ul>
                            <?php foreach($regions['all']['z'] as $code => $row) { ?>
                                   <li><a href="<?php echo '/'.$row['pinyin']; ?>" id="<?php echo $code; ?>"><?php echo $row['name']; ?></a></li>
                            <?php } ?>
                        </ul>
                    </dd>
                </dl>
			<?php } ?>
            </div>
        </div>
    </div>
</div>
