<link href="<?php echo TUrl::instance()->css('center.css'); ?>" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<?php echo TUrl::instance()->js('cropbox.js'); ?>"></script>

<script type="text/javascript">
    $(function () {
        //个人中心的tab
        $("#jibenziliao_box1").cmtabPanel({
            initShow: 1,
            triggerEvent: "click",
            tabSelectedClass: "sec_on",
            contentSelectedClass: "",
            tabs: ".center_main_r .zy_line_tit a",
            contents: ".center_main_r .jbzl",
            afterTabed: function () {
                var _l = $(this).position().left;
                $(".center_main_r .slider02").css(
                        {left: _l + 17}
                );
            }

        });
        //编辑头像时弹窗
        $('a[href="#ex7"]').click(function (event) {
            event.preventDefault();
            $(this).modal({
                fadeDuration: 250,
                zIndex:31
            });
        });


        var options =
        {
            thumbBox: '.thumbBox',
            spinner: '.spinner'
            /**imgSrc: 'images/avatar.jpg' **/
        }

        var cropper;

        $('#upload-file').on('change', function () {

            var reader = new FileReader();

            reader.onload = function (e) {

                options.imgSrc = e.target.result;

                cropper = $('.imageBox').cropbox(options);

            }

            reader.readAsDataURL(this.files[0]);

            this.files = [];

        })

        $('#btnCrop').on('click', function () {
            //获得裁剪过后的图像
            var img = cropper.getDataURL();
            //TODO 后台ajax保存此处的img即可,以下效果写在ajax的success回调当中。
            $('.cropped').empty().append('<div style="height:150px"></div><img src="' + img + '" align="absmiddle" style="width:100px;margin-top:4px;border-radius:100px;box-shadow:0px 0px 12px #7E7E7E;">');;
            $("[id^='userInfo_head_photo'] img").attr("src",img);
        })

        $('.xb_box li label').on('click', function () {
            $('.xb_box li label').removeClass('checked');
            $(this).addClass('checked');
        })

    });


</script>
<!-- 主体内容开始 -->
<div class="wrapper center_main">
<?php $this->partial('user/left'); ?>

<!-- 右侧开始 -->
    <div class="center_main_r"  id="jibenziliao_box1">
        <div class="hr_20"></div>
        <div class="ct_r_tit">
            <p style="float:right">我的账户</p>
			<!--
            <p>订单状态：<span class="org">已取消订单</span></p>
            <p>订单状态：<span class="org">已取消订单</span></p>
            <div class="ct_r_more"><a href="javascript:void(0);">返回</a></div>
			-->
        </div>

        <!-- 中间板块开始 -->
        <div class="zy_line_tit">
            <div class="slider02"></div>
            <a class="sec_on" href="/user/basics">基本资料</a>
            <a href="/user/contact">联系方式</a>

        </div>
        <div class="clear"></div>
        <div class="center_r_main br_gray">
            <div class="jbzl">
                <div class="t_xiang">
                    <span>头&nbsp;&nbsp;&nbsp;像&nbsp;:</span>
                    <dl>
                        <dt><a href="#ex7" class="pic" id="userInfo_head_photo2">
                            <img src="<?php echo $userInfo['headimg'] ? $userInfo['headimg'] : TUrl::instance()->image('s_2584f867_13411981b67__7fd0.jpg');?>" alt="修改头像"/>
                        </a></dt>
                        <dd><a href="#ex7">编辑头像</a></dd>
                    </dl>
                </div>
                <div class="y_hm">
                    <span class="y_hm_s"> 用户名&nbsp;:</span><?php echo $userInfo['username']; ?><span></span>
                </div>
                <div class="ni_chen">
                    <span>昵&nbsp;&nbsp;&nbsp;称&nbsp;:</span>
                    <input type="text" class="u_input" onkeyup="" name="nickname" id="nickname" value="<?php echo $userInfo['nickname']; ?>">

                </div>
                <div class="y_hm mobile_ct">
                    <span class="y_hm_s"> 手&nbsp;&nbsp;&nbsp;机&nbsp;:</span><?php echo $userInfo['phone']; ?><span class="er_bd"><a href="javascript:void(0);" style="display: none;" onclick="USER.changePhone()">[修改]</a></span>
                </div>
                <div class="x_bie">
                    <span>姓&nbsp;&nbsp;&nbsp;别&nbsp;:</span>

                    <ul class="xb_box">
                        <li>
                            <input type="radio" name="opinions" id="no-wa5y" <?php echo $userInfo['sex'] != 2  ? 'checked' : ''; ?> value="1"/>
                                   <label for="no-wa5y" <?php echo $userInfo['sex'] != 2  ? 'class="checked"' : '';?>>男士</label>
                        </li>
                        <li>
                            <input type="radio" name="opinions" id="no-wa6y" <?php echo $userInfo['sex'] == 2 ? 'checked' : ''; ?> value="2" />
                                   <label for="no-wa6y" <?php echo $userInfo['sex'] == 2 ? 'class="checked"' : ''; ?>>女士</label>
                        </li>
                    </ul>

                </div>
                <div class="clear"></div>
                <div class="center_ljgp02 center_ljgp05"><a href="javascript:void(0);" onclick="USER.save();">立即保存</a></div>

            </div>

            <div class="clear"></div>

        </div>
        <!-- pages --></div>
<div class="clear"></div>
    <!--弹窗-->
    <div id="ex7" class="modal">
        <div class="container">
            <div class="cont_up">
				<h2>上传新头像</h2>
				<div class="imageBox">
					<div class="thumbBox"></div>
					<div class="spinner" style="display: none">Loading...</div>
				</div>
            </div>
			<div class="action">
				<!-- <input type="file" id="file" style=" width: 200px"> -->
				<div class="new-contentarea tc">
					<a href="javascript:void(0)" class="upload-img">
						<label for="upload-file">选择图像</label>
					</a>
					<input type="file" class="" name="upload-file" id="upload-file" />
				</div>
				<input type="button" id="btnCrop"  class="Btnsty_peyton" value="保存图片" >
				<!--
				<input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+">
				<input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-">
				-->
			</div>

            <div class="cropped">
            </div>

        </div>

    </div>
    <!--弹窗 end-->
</div>
<script type="text/javascript">
    var USER = {
        //修改手机
        changePhone:function(){

        },
        //保存信息
        save:function(){
            var headimg = $("[id^='userInfo_head_photo'] img").attr("src");
            var sex     = $("input[name='opinions']:checked").val();
            var nickname= $("#nickname").val();
            if(nickname == ''){
                alert('请输入昵称');
                return false;
            }
            if(headimg == 'http://img.caimiao.cn/yingshi/v2/img/s_2584f867_13411981b67__7fd0.jpg'){
                headimg = '';
            }
            $.post('/user/editAjax', {headimg: headimg,nickname:nickname,sex:sex}, function (result) {
                var data = $.parseJSON(result);
                if (data.status == 'success') {
                    alert(data.content);
                    location.reload();
                } else {
                    alert(data.content);
                }
            });
        }


    };
</script>