<link href="<?php echo ToolUrl::instance()->css('center.css'); ?>" rel="stylesheet" type="text/css" />
<div class="wrapper center_main">
    {% include "user/left.html" %}
    <!-- 右侧开始 -->
    <div class="center_main_r" style="min-height:580px;">
        <div class="hr_20"></div>

        <!-- 中间板块开始 -->
        <div class="clear"></div>
        <div class="center_r_main">
            <div class="aqsz" style="border:none">
                <p>修改登录密码</p>
            </div>
            <div class="paystep">
                <ul class="clearfix"><li class="act"><i>1</i>验证身份</li><li><i>2</i>修改登录密码</li>
                    <li><i>3</i>完成</li></ul>
            </div>
            <div class="hr_10"></div>
            <div class="aqxx">为保障您的账号安全，将对您的身份验证后才能修改！确认是本人修改...  </div>
            <div class="xgmm_cont">
                <div class="y_hm ybdsj">
                    <span class="y_hm_s ybd_sj">已绑定的手机 :</span><?php echo(substr_replace($userInfo['phone'],'****',3,4));?>
                </div>
                <div class="hq_cont">
                    <div class="hq_mima">获取短信动态码</div>
                    <div class="hq_mima hq_minds" style="display:none">成功发送动态码（10）</div>
                    <p>点击获取后，默认手机上将收到一条验证短信！</p>
                </div>
                <div class="dx_cont">
                    <div class="duan_dtm">
                        <em>*</em><span>短信动态码 :</span>
                        <input type="text" class="u_input" onkeyup="" name="money" id="money" value="">
                        <p>请输入由菜苗影视系统发送短信中的数字部分；每天只有5次错误机会哦... </p>

                    </div>
                    <div class="dx_error" style="width:150px;" >短信动态码错误</div>
                    <div class="center_ljgp03"><a href="">确认提交</a></div>
                </div>
            </div>
        </div>

    </div>
    <div class="clear"></div>

</div>