<link href="<?php echo TUrl::instance()->css('center.css'); ?>" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(function(){
        //选择充值方式
        $("#grxx_cz_box li label").on("click",function(e){
            $(this).closest("li").siblings().children("label").removeClass('checked').find('img').removeClass("active");
            $(this).addClass('checked').find('img').addClass("active");
        });
    });
</script>
<!-- 主体内容开始 -->
<div class="wrapper center_main">
<?php $this->partial('user/left'); ?>

<!-- 右侧开始 -->
    <div class="center_main_r" id="czpage_grzh_box1">
        <div class="hr_20"></div>
        <div class="ct_r_tit">
            <p style="float:right">我的账户</p>
			<!--
            <p>订单状态：<span class="org">已取消订单</span></p>
            <p>订单状态：<span class="org">已取消订单</span></p>
            <div class="ct_r_more"><a href="">返回</a></div>
			-->
        </div>

        <!-- 中间板块开始 -->
        <div class="zy_line_tit">
            <div class="slider02" style="left:135px;"></div>
            <a  href="/user/surplus">账户明细</a>
            <a class="sec_on" href="/user/recharge">账户充值</a>
        </div>

        <div class="clear"></div>
        <div class="center_r_main br_gray">

            <div class="platform_pay" >
                <p class="zfpt">选择充值方式：</p>
                <ul id="grxx_cz_box">
                    <li>
                        <input type="radio" id="r1" name="pays"/>
                        <label  class="checked" for="r1">
                            <img class="active" src="http://local.yingshi.com/img/online_ico1.jpg" alt="" />
                        </label>
                    </li>
                    <li>
                        <input type="radio" id="r2" name="pays">
                        <label for="r2">
                            <img src="http://local.yingshi.com/img/online_ico1.jpg" alt="">
                        </label>
                    </li>
                </ul>
                <p class="czje">充值金额：</p>
                <div class="czje_inpt">
                    <input type="text" class="u_input" onkeyup="" name="money" id="money" value=""><span>元</span>

                    <div class="cz_error">充值金额不低于0.01元</div>

                </div>
                <div class="center_ljgp02"><a href="">立即付款</a></div>
            </div>
            <div class="clear"></div>

        </div>
        <div class="hr_30"></div>
        <!-- pages --></div>
<div class="clear"></div>

</div>