<link href="<?php echo TUrl::instance()->css('center.css'); ?>" rel="stylesheet" type="text/css" />
<!-- 主体内容开始 -->
<div class="wrapper center_main">
<?php $this->partial('user/left'); ?>

<!-- 右侧开始 -->
	<div class="center_main_r">
		<div class="hr_20"></div>
		<div class="ct_r_tit">
			<p style="float:right">账户设置</p>
			<!--
			<p>订单状态：<span class="org">已取消订单</span></p>
			<p>订单状态：<span class="org">已取消订单</span></p>
			<div class="ct_r_more"><a href="">返回</a></div>
			-->
		</div>

		<!-- 中间板块开始 -->
		<div class="clear"></div>
		<div class="center_r_main">
			<div class="aqsz">
				<p>安全级别：<span class="safe"><?php echo $safeLevel['name']; ?></span>    <span>已开启全部安全设置！</span></p>
			</div>
			<div class="clear"></div>
			<ul class="cmain_ll">
				<li>
					<div class="dlmm">登录密码</div>
					<div class="dlmm_intro">互联网账号存在被盗风险，建议您定期更改密码以保护账户安全。</div>
					<div class="dlmm_icon"><a href="<?php echo TUrl::instance()->get('/user/changePwd1'); ?>">修改</a></div>
				</li>
				<li>
					<div class="dlmm bdyx">绑定邮箱</div>
					<div class="dlmm_intro">验证后，可用于快速找回登录密码，接收账户余额变动提醒。</div>
					<div class="dlmm_icon">
						<a href="<?php echo TUrl::instance()->get('user/bindMail'); ?>"><?php echo $userInfo['email_verified'] ? '修改' : '绑定邮箱'; ?></a>
					</div>
				</li>
				<li>
					<div class="dlmm bdsj">绑定手机</div>
					<div class="dlmm_intro">您验证的手机：<?php echo $userInfo['phone']; ?></div>
					<div class="dlmm_icon">
						<a href="<?php echo TUrl::instance()->get('user/bindPhone'); ?>"><?php echo $userInfo['phone_verified'] ? '修改' : '绑定手机'; ?></a>
					</div>
				</li>
				<li>
					<div class="dlmm zfmm">支付密码</div>
					<div class="dlmm_intro">安全程度：
						<div class="pw_letter">
							<span class="tsl" ></span>
							<span class="tsl" ></span>
							<span class="tsl" style="width:50px; border-right:none"></span>
						</div>
						<div class="pw_bar" style="width: 50px;"></div>
						<div class="dzg">中</div>
					</div>
					<div class="dlmm_icon"><a href="<?php echo TUrl::instance()->get('user/setPayPassword'); ?>">修改</a></div>
				</li>
			</ul>
			<div class="clear"></div>
		</div>
		<div class="hr_30"></div>
	</div>
<div class="clear"></div>
</div>
