<link href="<?php echo TUrl::instance()->css('center.css'); ?>" rel="stylesheet" type="text/css" />
<!-- 主体内容开始 -->
<div class="wrapper center_main">
<?php $this->partial('user/left'); ?>

<!-- 右侧开始 -->
    <div class="center_main_r">
        <div class="hr_20"></div>
        <div class="ct_r_tit">

            <p style="float:right">我的账户</p>
			<!--
            <p>订单状态：<span class="org">已取消订单</span></p>
            <p>订单状态：<span class="org">已取消订单</span></p>
            <div class="ct_r_more"><a href="">返回</a></div>
			-->
        </div>

        <!-- 中间板块开始 -->
        <div class="zy_line_tit">
            <div class="slider02"></div>
            <a class="sec_on" href="/user/surplus">账户明细</a>
            <a href="/user/recharge">账户充值</a>
        </div>
        <div class="clear"></div>
        <div class="center_r_main br_gray">
            <div class="ctm_tit">
                <ul>
                    <li>时间</li>
                    <li>详情</li>
                </ul>
            </div>
            <div class="clear"></div>
            <ul class="cmain_ll">
                <?php foreach($account_log as $item) { ?>
                <li>
                    <div class="cmain_l_l"><?php echo(date('Y-m-d H:i',$item['ctime']));?></div>
                    <div class="cmain_l_r">
                        <?php
                        if($item['type']==2) {
                            $note = json_decode($item['note'], 1);
                        ?>
                        <p>影片：<span><?php echo $note['film']; ?></span></p>
                        <p>影院：<span><?php echo $note['cinema']; ?></span></p>
                        <p>支出：<span class="org">¥<?php echo $item['amount']/100; ?></span></p>
                        <?php } else { ?>
                        <p>用户充值</p>
                        <p>充入：<span style="color: green;">¥<?php echo $item['amount']/100; ?></span></p>
                        <?php } ?>
                    </div>
                </li>
                <?php } ?>

            </ul>
            <div class="clear"></div>

        </div>
        <div class="hr_30"></div>
        <!-- pages -->
        <div class="movie_page">
            <?php echo $page_html; ?>
            <!--<span class="prev over">上一页</span>-->
            <!--<a class="active" href="#">1</a>-->
            <!--<a href="#">2</a>-->
            <!--<a href="#">3</a>-->
            <!--<a href="#">4</a>-->
            <!--<span class="next">下一页</span>-->
        </div>


    </div>
<div class="clear"></div>

</div>